
<section class="main-section">
  <%= render 'partials/navbar' %>
  <div class="content-wrapper">
      <div class="main-container">
        <%= render 'partials/left_menu' %>
          <div class="main-content main-content-with-menu">
            <div class="wrapper">
              <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12">  
                    	<div class="header-assistant">
	                       <h3 class="pull-left">Edit Appointment</h3>
	                       <%= link_to 'Back', appList_path, class: 'pull-right btn btn-red' %>
	                    </div>  
				    </div>

				    <div class="col-md-4 col-md-offset-4">
				    	<div class="card card-login card-red card-collapse">
				    		<div class="preview">
                                <div class="cardLoginTitle"><%= @serv.service_name%></div>
                            </div>
	                        <div class="content">
	                        	<%= form_for @appointment, url: update_appointment_path(@appointment.id), method: 'post', remote: true do |f| %>
									<% @ClientName = Client.find_by_id(@appointment.client_id).name %>  <%= @ClientName %>
									<div class="inp inp-red">
										<%= f.text_field :date, class: "", placeholder: 'Date', type: 'date' %>
									</div>
									<div class="inp inp-red">
										<%= f.text_field :time, :value => @appointment.time.to_formatted_s(:time), class:"", placeholder: 'Time', type: 'time' %>
									</div>
									<div class="inp inp-red" style="margin-top:1rem;">
										<%= f.text_area :notes, class: "", placeholder: 'Notes', type: 'text' %>
									</div>
									        
									<%= f.submit "Update and send Mail", style: "margin-top:1rem;", class: "btn btn-fill btn-red" %>
								<% end %>
	                        </div> 
	                      </div>
						

						
				    </div>
                          
                  </div>
              </div> <!-- container fluid -->
          </div>
          </div>
      </div>

  </div>
</section>

<script type="text/javascript">
	  $(function () {
                $('.datepicker').datepicker();
            });

</script>




