<section class="main-section publ-view">
  <%= render 'partials/navbar' %>
  <div class="content-wrapper">
      <div class="main-container">
        <%= render 'partials/left_menu' %>
          <div class="main-content main-content-with-menu">
            <div class="wrapper">
              <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12">  
                        <div class="header-assistant">
                           <h3 class="pull-left">View Appointment</h3>
                           <%= link_to 'Back', appList_path, class: 'pull-right  btn  btn-red' %>
                        </div>  
                    </div>

                    <div class="col-md-6 col-md-offset-3">
                        <% if @appointment && @company%>
                            <% @service = Service.find_by_id(@appointment.service_id) %>
                            <% @service_name = @service ? @service.service_name : ''%>
                            <% @service_duration = @service ? @service.duration.to_i : 0 %>
                            <div class="card card-price">
                                <div class="content">
                                    <h1 class="price">
                                        <small class="text-red">Appointment details</small>
                                    </h1>                        
                                     <ul class="list-unstyled list-lines">
                                        <li><b class="text-red">Service: </b> <%= @service_name %></li>
                                        <li><b class="text-red">Client: </b> <%= @appointment.client.name %></li>
                                        <li><b class="text-red">Scheduled on: </b><%= @appointment.date %>, <%= @appointment.time.to_formatted_s(:time) %></li>
                                        <li><b class="text-red">Address: </b> <%= @company.address %></li>
                                        <li><b class="text-red">Notes: </b> <%= @appointment.notes  %>...</li>
                                    </ul>
                                </div>
                                <div class="footer text-center">
                                    Looking forward to seeing you soon!
                                </div>
                            </div> <!-- end card -->
                        <% else %>
                         <h3>The appointment you are looking for is no longer accessible.</h3>
                        <% end %>
                        
                    </div>   
                          
                  </div>
              </div> <!-- container fluid -->
          </div>
          </div>
      </div>

  </div>
</section>
