
<section class="main-section">
  <%= render 'partials/navbar' %>
  <div class="content-wrapper">
      <div class="main-container">
        <%= render 'partials/left_menu' %>
          <div class="main-content main-content-with-menu">
            <div class="wrapper">
              <div class="container-fluid">
                <div class="row"> 
                  <div class="col-md-12">                    
                    <div class="header-assistant">
                       <h3 class="pull-left">Edit material</h3>
                      <%= link_to 'Back', materials_path, class: 'pull-right btn  btn-azure' %>
                    </div>
                  </div>
                  <div class="col-md-4 col-md-offset-4" >
                     <div id="card-login-colors" class="card card-login card-azure">
                            <div class="preview">
                                <div class="cardLoginTitle"> 
                                    <%=@material.name %>
                                </div>
                            </div>
                            <div class="content" id="inp-login-colors">
                                <%= form_for @material, url: update_material_path(@material.id), method: 'post', remote: true do |f| %>
                                  <div class="inp inp-azure">
                                    <%= f.text_field :name, class: "", placeholder: 'Name', type: 'text' %>  
                                  </div>
                                  <div class="inp inp-azure">
                                    <%= f.text_field :unit, class: "", placeholder: 'Unit (gr, ml)', type: 'text' %>
                                  </div>
                                  <div class="inp inp-azure">
                                    <%= f.text_field :price, class: "", placeholder: 'Price ', type: 'text' %>
                                  </div>
                                   <%= f.submit "Update", class: "btn btn-azure btn-fill" %>

                                <% end %>
                            </div>
                        </div>
                    
                      <br>
                  </div>
                </div>         
              </div> <!-- container fluid -->
            </div>
          </div>
      </div>
  </div>
</section>

