<script src="https://checkout.stripe.com/checkout.js"></script>

<input type="hidden" id="userEmail" value="<%= @current_user.email %>">
<div class="section section-gray section-buy">
    <div class="container">
        <div class="row" id="price-cards">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-price">
                            <div class="content">
                                <h6 class="category">Basic</h6>
                                <h1 class="price">
                                    Free</small>
                                </h1>                        
                                
                                <ul class="list-unstyled list-lines">
                                    <li>
                                        <i class="fa fa-clock-o"></i> <b>30 Days</b> Usage
                                    </li>
                                    <li>
                                        <i class="fa fa-group"></i> <b>5</b> Clients
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope-o"></i> <b>25</b> SMS Notifications
                                    </li>
                                    <li>
                                        <i class="fa fa-level-up"></i> <b>Free</b> Updates
                                    </li>
                                </ul>
                            </div>
                            <div class="footer">
                               <button type="button" onclick="window.location.href='/company/add'" class="btn btn-info btn-block">Get this Package</a>
                            </div>
                        </div> <!-- end card -->
                    </div>   
                     <div class="col-md-4">
                        <div class="card card-price">
                            <div class="content">
                                <h6 class="category">Standard</h6>
                                <h1 class="price">
                                    <small>&euro;</small>19 <small>/mo</small>
                                </h1>                        
                                 <ul class="list-unstyled list-lines">
                                    <li>
                                        <i class="fa fa-clock-o"></i> <b>30 Days</b> Usage
                                    </li>
                                    <li>
                                        <i class="fa fa-group"></i> <b>100</b> Clients
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope-o"></i> <b>500</b> SMS Notifications
                                    </li>
                                    <li>
                                        <i class="fa fa-level-up"></i> <b>Free</b> Updates
                                    </li>
                                </ul>
                            </div>
                            <div class="footer">
                               <button type="button" class="btn btn-info btn-fill btn-block" onclick="getThisPackage(19)">Get this Package</button>
                            </div>
                        </div> <!-- end card -->
                    </div>   
                     <div class="col-md-4">
                        <div class="card card-price">
                            <div class="content">
                                <h6 class="category">Premium</h6>
                                <h1 class="price">
                                    <small>&euro;</small>29 <small>/mo</small>
                                </h1>                        
                                
                                 <ul class="list-unstyled list-lines">
                                    <li>
                                        <i class="fa fa-clock-o"></i> <b>30 Days</b> Usage
                                    </li>
                                    <li>
                                        <i class="fa fa-group"></i> <b>Unlimited </b> Clients
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope-o"></i> <b>Unlimited </b> SMS Notifications
                                    </li>
                                    <li>
                                        <i class="fa fa-level-up"></i> <b>Free</b> Updates
                                    </li>
                                </ul>
                            </div>
                            <div class="footer">
                               <button type="button" class="btn btn-info btn-block" onclick="getThisPackage(29)">Get this Package</button>
                            </div>
                        </div> <!-- end card -->
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

  // Close Checkout on page navigation
  
  var user_email;
  function getThisPackage(package_price){
        user_email = $('#userEmail').val();
        
        console.log(user_email);
        var handler = StripeCheckout.configure({
            key: 'pk_test_zhUxSpDDRAUNAKnCf5p0ctXX',
            image: '/assets/assistnt_logo-f24a4a97a043adac8f26489d28b7d08e.jpg',
            token: function(token) {
              token_id = token.id;
              
              $.post("/buy-plan-token", "token_id=" + token_id + "&package=" + package_price, function(data) {
                  if(data == 1){
                        window.location.href = "/company/add";  
                  } else {
                        alert('There was an error, please try again');   
                  }
              }, 'json');
              
            }
          });
        
        handler.open({
          name: 'Assistant Plan',
          description: '1 month ($' + package_price +'.00)',
          amount: package_price * 100,
          email: user_email
        }); 
      
      $(window).on('popstate', function() {
        handler.close();
      });
  }

</script>