<%= render partial: 'user/left_menu' %>
<div class="wrapper">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">            
            <div class="row">
                <h3>Calendar</h3>
                <hr>  
            
                <div id="calendar"></div>
              
            </div>    
        </div>
        <div class="col-md-10 col-md-offset-1">         
            <div class="row">
                <h3>Appointments
                    <a type="button" class="btn btn-info btn-fill pull-right" data-trigger="collapseClient" onclick="showNewClientArea(this)"> + New Appointment</a>
                </h3>
                <hr>  
            <div class="col-md-4 col-md-offset-4" id="collapseClient" style="display:none">
                <%= form_for @appointment, url: create_appointment_path, method: 'post', remote: true do |f| %>
                      <div class="form-group">
                          <label>Pacient</label>
                           <% options = options_from_collection_for_select(@clients, 'id', 'name') %>
                           <%= f.select :client_id,  options %>
                          <label>Service Type </label>
                          <% service_options = options_from_collection_for_select(@services, 'id', 'service_name')%>
                          <%= f.select :service_id,  service_options %>
                          <label>Date</label>
                           <%= f.text_field :date, class: "form-control datepicker", placeholder: 'Date', type: 'text' %>
                           <label>Time</label>
                           <%= f.text_field :time, class: "form-control", placeholder: 'Time', type: 'time' %>                          
                      </div>
                         <%= f.button class: "btn btn-info btn-fill" do %>
                             Create Appointment
                         <% end %>

                <% end %>
                <br>
            </div>
                
        <div class="clients-list">
             <table class="table table-striped">
               <tr>
                <th>Client</th>
                <th>Type</th>
                <th>Date</th>
                <th>Time</th>
                <th>Duration</th>
                <th>Actions</th>
            </tr>
            <% @appointments.each do |app| %>
            <% @service = Service.find_by_id(app.service_id) %>
            <% @service_name = @service ? @service.service_name : ''%>
 	    <% @service_duration = @service ? @service.duration.to_i : 0 %>
            
                <tr>
                    <td><%= app.client.name %></td>
                    <td><%= @service_name %></td>
                    <td><%= app.date %></td>
                    <td><%= app.time.to_formatted_s(:time) %></td>
                    <td><%= @service_duration %> min</td>
                    <td><%= link_to 'Edit', edit_appointment_path(app.id) %>
                        <%= link_to 'View', view_appointment_path(id: app.id, first_name: app.client.first_name, last_name: app.client.last_name)%>
                    </td>
                </tr>
            <% end %>
            </table>
        </div>
             
            </div>    
        </div>
    </div>
    </div>
</div>


</div>

<div class="modal fade" id="sendNotificationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag send_sms_path, method: 'post' do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Send Delay Notification</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
             <label>Appointment Delay</label>
             <select name="delay">
                 <option value="30">30 minutes</option>
                 <option value="45">45 minutes</option>
                 <option value="60">1 hour</option>
                 <option value="75">1 hour 15 minutes</option>
                 <option value="90">1 hour 30 minutes</option>
                 <option value="120">2 hours</option>
                 <option value="150">2 hours 30 minutes</option>
             </select>
	    
	     <br><br>
	     <label>Only for this pacient</label>
             <input type="checkbox" name="chkOnly1sms" value="1">	 
            
	     <br><br> 
             <input type="hidden" name="appointment_day" id="appointmentDay">  
	     <input type="hidden" name="appointment_id" id="appointmentId"> 	  
             <input type="hidden" name="pacient_telephone" id="pacientTelephone">
             <label>Notice for pacient:</label>
             <%= text_area(:text, :content, rows: 5, class: "form-control", placeholder: 'Write your message here') %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= submit_tag "Send", class: "btn btn-info btn-fill" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    $().ready(function(){
        var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		/*  className colors
		
		className: default(transparent), important(red), chill(pink), success(green), info(blue)
		
		*/		
	
	
		/* initialize the calendar
		-----------------------------------------------------------------*/
		
		var calendar =  $('#calendar').fullCalendar({
			header: {
				left: 'title',
				center: 'agendaDay,agendaWeek,month',
				right: 'prev,next today'
			},
			
			firstDay: 1, //  1(Monday) this can be changed to 0(Sunday) for the USA system
			selectable: true,
			defaultView: 'month',
			
			axisFormat: 'h:mm',
			columnFormat: {
                month: 'ddd',    // Mon
                week: 'ddd d', // Mon 7
                day: 'dddd M/d',  // Monday 9/7
                agendaDay: 'dddd d'
            },
            titleFormat: {
                month: 'MMMM yyyy', // September 2009
                week: "MMMM yyyy", // September 2009
                day: 'MMMM yyyy'},
		allDaySlot: false,
		selectHelper: true,
		eventClick: function(calEvent, jsEvent, view) {    			
    			start_date = new moment(calEvent.start);
    			start_date = start_date.format("MMMM Do YYYY, HH:mm");
    			
    			$('#pacientTelephone').val(calEvent.phoneNumber);
    			$('#appointmentDay').val(start_date);
			$('#appointmentId').val(calEvent.appId);
                $('#sendNotificationModal').modal('show');       
            },
			
			events: [
				<% @appointments.each do |app| %>
                    {
			<% @Service = Service.find_by_id(app.service_id) %>
			<% @AppEndTime = app.time + @Service.duration.minutes %>	

                        title: '<%= app.client.name + ' - ' + @Service.service_name %>',
                        start: '<%= app.date %>T<%= app.time.to_formatted_s(:time) %>',
                        end: '<%= app.date %>T<%= @AppEndTime.to_formatted_s(:time) %>',
                        allDay: false,
                        className: 'success',
                        phoneNumber: '<%= app.client.telephone %>',
                        appId:  '<%= app.id %>'
                        
                    },
                <% end %>
			],			
		});
		
    });
</script>
