<%= check_evercookie(:sid) %>
<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="well">
                <h3>Register <small> Let's try it with Evercookie</small></h3>
                <legend></legend>
                <%= form_tag register_evercookie_path, html: {multipart: true}, :method => 'post', :remote => 'true' do |f| %>
                    <label>Email</label>
                    <%= text_field_tag :email,nil, :class => 'form-control', :placeholder => 'Email' %>
                    <br /><label>Password</label>
                    <%= password_field_tag :password,nil, :class => 'form-control', :placeholder => 'Password' %>
                    <br /><label>Repeat Password</label>
                  	<%= password_field_tag :password_confirmation,nil, :class => 'form-control', :placeholder => 'Repeat Password' %>
                  	<br />
                    <%= submit_tag "Create account", {class: "btn btn-fill btn-info btn-register btn-block"} %>
                <% end	%>
                <br />
                Already have an account? <%= link_to 'Login', new_evercookie_path %>
            </div>
        </div>
    </div>
</div>