<%= check_evercookie(:sid) %>
<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="well">
                <h3>Login  <small>Let's try it with Evercookie</small></h3>
                <legend></legend>
                <%= form_tag login_evercookie_path, html: {multipart: true}, :method => 'post' do |f|%>
                    <label>Email</label>
                    <%= text_field_tag :email,nil, :class => "form-control", :placeholder => "Email" %>
                    <br /><label>Password</label>
                    <%= password_field_tag :password,nil, :class => "form-control", :placeholder => "Password" %>
                    <br />
                    <%= submit_tag "Login", {class: "btn btn-fill btn-info btn-block"} %>
                <% end	%>
                <br />
                Don't have an account? <%= link_to 'Register', new_user_evercookie_path %>
            </div>
        </div>
    </div>
</div>