<section class="main-section main-section-public">
    <%= render 'partials/navbar' %>
    <div class="content-wrapper">
        <div class="login-container" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4  col-xs-12 type-6">
                    </div>
                    <div class="col-md-4 col-xs-12 type-6">
                        <div id="card-login-colors" class="card card-login card-blue">
                            <div class="preview">
                                <div class="cardLoginTitle">Register</div>
                            </div>
                            <div class="content" id="inp-login-colors">
                                <%= form_tag register_path, html: {multipart: true}, :method => 'post' do |f| %>
                                    <div class="content" >
                                        <div>
                                            <div class="user-wrapper inp inp-blue">
                                                <%= text_field_tag :first_name,nil, :class => '', :placeholder => 'Name' %>
                                            </div>
                                            <div class="  email-wrapper inp inp-blue ">
                                                <%= text_field_tag :email,nil, :class => '', :placeholder => 'Email' %>      
                                            </div>
                                            <div class="pass-wrapper inp inp-blue ">
                                                <%= password_field_tag :password,nil, :class => '', :placeholder => 'Password' %>
                                            </div>
                                            <div class="  pass-wrapper inp inp-blue">
                                                <%= password_field_tag :password_confirmation,nil, :class => '', :placeholder => 'Repeat Password' %> 
                                            </div>
                                        </div>
                                        <div  class="btn-login-wrapper">
                                            <%= submit_tag "Create account", {class: "btn btn-block btn-lg btn-fill btn-round btn-login btn-blue"} %>
                                        </div> 
                                    </div>
                                <%end%>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 type-6">
                </div>
            </div>
        </div>
    </div>
</section>