console.log('prima parte din post de register' + <%= @status %>);
<% if @status == 1 %>
    window.location.replace("<%= set_evercookie_url(@sid) %>");
<% else %>
    $('.error').append("<%= @message %><br>");
<% end %>
