<%= @sid ? set_evercookie(:sid, @sid) : '' %>
<div style="margin-top: 100px;">
    <h2 class="text-center">Welcome! Evercookie has been set! <br /><small><%= link_to 'Dashboard', dashboard_path %></small></h2>
</div>