<div class="left-navbar  block-width-5">

    <div class="menu-wrap show-menu">
            <nav class="menu-top">
                <div class="profile block-height-8 block-width-5">
                    <span class="text-azure">
                        <% if !@current_user %>
                           ASSISTANT       
                        <% else %>
                            <% @company = Company.find_by_iduser(current_user.id) %>
                            <% if @company %>
                                <%= @company.name%>
                            <%end%>
                        <% end %>
                    </span>
                </div>
                <div class="icon-list">
                   
                </div>
            </nav>
            <nav class="menu-side menu-scroll-bar block-width-5">
                <ul class="nav acordion-menu" id="topMenuContainer">
                    <li class="has-children">
                        <a  href="/dashboard">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            Dashboard
                        </a>
                    </li>

                    <li class="has-children">
                        <a  href="/clients">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            Clients
                        </a>
                    </li>
                    <li class="has-children">
                        <a  href="/services">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                            Services
                        </a>
                    </li>
                    <li class="has-children">
                        <a  href="/materials">
                            <i class="fa fa-magic"></i>
                            Materials
                        </a>
                    </li>
                    <li class="has-children">
                        <a  href="/stats">
                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                            Statistics
                        </a>
                    </li>
                    <li class="has-children">
                        <% @ids= Company.find_by_iduser(current_user[:id]) %>
                        <% @lin= "/company/edit/" + @ids[:id].to_s%>
                        <a  href=<%=@lin %> >
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            Company Info
                        </a>
                    </li>
                </ul>
            </nav>
    </div>

    <div class="copyright text-azure">
        &copy; 2017 Assistant.
    </div>
</div>