<nav class="navbar navbar-default with-menu-wrap block-height-8" role="navigation-demo">
  
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-default2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand text-azure" href="/">
                <% if !@current_user %>
                   ASSISTANT       
                <% else %>
                 
                <% end %>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-default2">
            <ul class="nav navbar-nav navbar-right">
                <% if !@current_user %>
                    <li>
                        <a href="/new" class="text-azure">
                            Login
                        </a>
                    </li>  
                    <li>
                        <a href="/new-user" class="text-azure">Register</a>
                    </li>          
                <% else %>
                    <li>
                        <a href="/logout" class="text-azure"> Logout  </a>
                    </li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>



