<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
    .card {
	  border-radius: 6px;
	  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.23);
	  background-color: #FFFFFF;
	  margin-bottom: 20px;
	}

	.card .footer {
	  padding: 0;
	  background-color: transparent;
	  line-height: 30px;
	  font-size: 20px;
	  color: #333333;
	}

	.card-price {
	  position: relative;
	}
	.card-price .price {
	  font-weight: 300;
	  text-align: center;
	  font-size: 66px;
	}
	.card-price .price small {
	  margin-right: 4px;
	  margin-left: -13px;
	  color: #333333;
	}
	.card-price .category {
	  text-align: center;
	  margin-top: 10px;
	}
	.card-price .content {
	  min-height: 330px;
	}
	.card-price .list-unstyled {
	  padding: 20px;
	  font-size: 14px;
	  text-align: center;
	  color: #9a9a9a;
	}
	.card-price .list-unstyled b {
	  color: #333333;
	}
	.card-price .list-unstyled li {
	  margin-bottom: 5px;
	}
	.card-price .list-lines {
	  text-align: left;
	}
	.card-price .list-lines li {
	  margin: 0;
	  padding: 10px 0;
	  border-bottom: 1px solid #e3e3e3;
	}
	.card-price .list-lines li:last-child {
	  border: 0;
	}
	.card-price .fa {
	  width: 26px;
	  text-align: center;
	  font-size: 16px;
	}

    </style>
  </head>
  <body>
     <div class="card card-price">
        <div class="content">
            <h1 class="price">
                <small>Appointment details: </small>
            </h1>                        
             <ul class="list-unstyled list-lines">
             	<li><b>For: </b> <%= @user.name %></li>
                <li><b>Service: </b> <%= Service.find_by_id(@app.service_id).service_name %></li>
                <li><b>Scheduled on: </b><%= @app.date %>, <%= @app.time.to_formatted_s(:time) %></li>
                <li><b>Notes: </b> <%= @app.notes %></li>
            </ul>
            <div class="footer text-center">
	            Looking forward to seeing you soon!
	        </div>
        </div>
        
    </div>
  </body>
</html>
