
<section class="main-section">
  <%= render 'partials/navbar' %>
  <div class="content-wrapper">
      <div class="main-container">
        <%= render 'partials/left_menu' %>
          <div class="main-content main-content-with-menu">
            <div class="wrapper">
              <div class="container-fluid">
                <div class="row"> 
                  <div class="col-md-12">                    
                    <div class="header-assistant">
                      <h3 class="pull-left">Appointments of: <%= @client.name %></h3>
                      <%= link_to 'Back', clients_path, class: 'pull-right btn btn-purple' %>
                      <%= link_to 'Edit', edit_client_path, class: 'pull-right btn btn-fill btn-purple' %>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="clients-list">
                      <table class="table table-striped">
                        <tr>
                            <td>Date</td>
                            <td>Time</td>
                            <td>Service</td>
                            <td>Action</td>
                        </tr>
                        <% @client.appointments.each do |app| %>
                            <tr>
                                <td><%= app.date %></td>
                                <td><%= app.time.to_formatted_s(:time) %></td>
                                <td><% @Service = Service.find_by_id(app.service_id) %>
                                    <%= @Service.service_name  %>
                                </td>
                                <td><%= link_to 'Edit', edit_appointment_path(app.id), class: "text-green" %>
                                    <%= link_to 'Delete ', delete_appointment_path(app.id), :method => :delete , class: "text-green" %>
                                </td>
                            </tr>
                        <% end %>
                      </table>
                    </div> 
                  </div>
                </div>     
    
              </div> <!-- container fluid -->
            </div>
          </div>
      </div>
  </div>
</section>
