
<section class="main-section">
  <%= render 'partials/navbar' %>
  <div class="content-wrapper">
      <div class="main-container">
        <%= render 'partials/left_menu' %>
          <div class="main-content main-content-with-menu">
            <div class="wrapper">
              <div class="container-fluid">
                <div class="row"> 
                  <div class="col-md-12">                    
                    <div class="header-assistant">
                      <h3 class="pull-left">Edit: <%= @client.name %></h3>
                      <%= link_to 'Back', client_path, class: 'pull-right btn  btn-purple' %>
                    </div>
                  </div>
                  <div class="col-md-4 col-md-offset-4">
                       <div class="card card-login card-purple card-collapse">
                        <div class="content">
                            <%= form_for @client, url: update_client_path, method: 'post', remote: true do |f| %>
                                <div class=" ">
                                  <div class="inp inp-purple">
                                    <%= f.text_field :first_name, class: "", placeholder: 'First Name', type: 'text' %>
                                  </div>
                                  <div class="inp inp-purple">
                                    <%= f.text_field :last_name, class: "", placeholder: 'Last Name', type: 'text' %>
                                  </div>
                                  <div class="inp inp-purple">
                                    <%= f.text_field :emailC, class: "", placeholder: 'Email', type: 'email' %>
                                  </div>
                                  <div class="inp inp-purple">
                                    <%= f.text_field :telephone, class: "", placeholder: 'Telephone', type: 'text' %>
                                  </div>
                                </div>
                                <%= f.submit "Update", class: "btn btn-fill btn-purple" %>
                              <% end %>
                        </div> 
                      </div>
                  </div>
                </div>     
    
              </div> <!-- container fluid -->
            </div>
          </div>
      </div>
  </div>
</section>
