$controls-blue:				#039BE5 !default;

$text-gray:					#a0a0a2 !default;
$text-dark:					#58595b !default;

$white:						#ffffff !default;
$light-gray:				#dedfe1 !default;
$medium-gray:               #DDDDDD !default; 
$dark-gray:                 #B7B7B7 !default;
$black-color:               #333333 !default;