/* -------------------------------- 

Golden Ratio

------------------------------- */
$gratio: 1.618033988749;

/* -------------------------------- 

Responsive Breakpoints

-------------------------------- */
$xl: 1400px;
$lg: 1170px;
$md: 1024px;
$sm: 640px;
$xs: 480px;

$html-font-size: (null: 16px, $md: 15px, $sm: 14px, $xs: 13px);

$paragraph-font-size: (null: 18px, $lg: 17px, $md: 16px, $sm: 15px, $xs: 14px);


/* -------------------------------- 

Components

-------------------------------- */

$font-size-h1:                 3.25rem !default;
$font-size-h2:                 2.25rem !default;
$font-size-h3:                 1.75rem !default;
$font-size-h4:                 1.375rem !default;
$font-size-h5:                 1.125rem !default;
$font-size-h6:                 0.875rem !default;
$font-paragraph:               1rem !default;
$font-size-navbar:             1rem !default;
$font-size-small:              0.75rem !default;

$font-weight-light:          300 !default; 
$font-weight-normal:         400 !default;
$font-weight-semi:           500 !default;
$font-weight-bold:           600 !default;

$line-height-general:          1.5 !default;
$line-height:                 1.25rem !default;
$line-height-lg:              3.375rem !default;


$border-radius-top:        0.625rem 0.625rem 0 0 !default;
$border-radius-bottom:     0 0 0.625rem 0.625rem !default;

$dropdown-shadow:          0.0625rem 0.125rem 0.187rem rgba(0, 0, 0, 0.125);

$general-transition-time:  300ms !default;

$slow-transition-time:           370ms !default; 
$dropdown-coordinates:      1.812rem -3.125rem !default;

$fast-transition-time:           150ms !default;
$select-coordinates:         50% -2.5rem !default;

$transition-linear:                                   linear !default;
$transition-bezier:         cubic-bezier(0.34, 1.61, 0.7, 1) !default;
$transition-ease:           ease 0s;


$height-icon:					 4rem !default;
$width-icon:					 4rem !default;
$padding-icon:					 0.75rem !default;

$size-icon: 					 4rem;
$size-icon-sm: 					 30.125rem;


$height-icon-sm:				 30.125rem;
$width-icon-sm:					 30.125rem;
$padding-icon-sm:			     0.25rem;
$border-radius-icon-sm:			 0.437rem;

$height-icon-message:			 2.5rem;
$width-icon-message:			 2.5rem;

$height-icon-message-sm: 		 1.25rem;
$width-icon-message-sm:			 1.25rem;




