<%= render partial: 'public_page/left_menu' %>

<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">            
                <div class="row">
                    <h3>Pacients
                        <a type="button" class="btn btn-info btn-fill pull-right" data-trigger="collapseClient" onclick="showNewClientArea(this)"> + New Pacient</a>
                    </h3>
                    <hr>  

                    <div class="col-md-4 col-md-offset-4" id="collapseClient" style="display:none">
                        <%= form_for @client, url: create_client_path, method: 'post', remote: true do |f| %>
                              <div class="form-group">
                                 <label>First Name </label>
                                 <%= f.text_field :first_name, class: "form-control", placeholder: 'First Name', type: 'text' %>
                                 <label>Last Name</label>
                                 <%= f.text_field :last_name, class: "form-control", placeholder: 'Last Name', type: 'text' %>
                                 <label>Email</label>
                                 <%= f.text_field :emailC, class: "form-control", placeholder: 'Email', type: 'email' %>
                                 <label>Phone Number</label>
                                 <%= f.text_field :telephone, class: "form-control", placeholder: 'Telephone', type: 'text' %>
                              </div>
                                 <%= f.button class: "btn btn-info btn-fill" do %>
                                     Create Client
                                 <% end %>
                        <% end %>
                        <br>
                    </div>
                
                    <div class="clients-list">
                        <table class="table table-striped">
                            <tr>
                                <th>Name</th>
                                <th> Email </th>
                                <th>Telephone</th>
                            </tr>
                            <% @clients.each do |client| %>
                                <tr>    
                                <td><%= link_to client.name, client_path(client.id) %></td>
                                <td><%= client.telephone %></td>
                                <td><%= client.emailC %></td>
                                </tr>
                            <% end %>
                        </table>
                    </div>    
                </div>    
            </div>
        </div>
    </div>
</div>
