  <?xml version="1.0"?>
  <Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Service Name</Data></Cell>
        <Cell><Data ss:Type="String">Duration</Data></Cell>
        <Cell><Data ss:Type="String">Price</Data></Cell>
      </Row>
      <% @services.each do |service| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= service.service_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= service.duration %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= service.price %></Data></Cell>
      </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>