  <section class="main-section main-section-public">
    <%= render 'partials/navbar' %>
    <div class="content-wrapper">
        <div class="main-container">
            <div class="main-content demo-1">
                <div class="public-page-full js " id="scroll-top">
                    <div class="segmenter" style="background-image:url(/images/backgr-1.png)"></div>
                    <h2 class="trigger-headline trigger-headline--hidden">
                        <div >
                            <span>A</span>
                            <span>S</span>
                            <span>S</span>
                            <span>I</span>
                            <span>S</span>
                            <span>T</span>
                            <span>A</span>
                            <span>N</span>
                            <span>T</span>
                        </div>
                    </h2>
                    <p class="headline-text headline-text--hidden">
                        Don't have a a personal assistant? Now is no need to hire one, because Assistant is an application that primarily wants to help the user, in the sense that he can manage his appointment much easier, and sending SMS can be considered a plus to increase the number of clients, because they eliminate the possibility that they forget the time, or wait in case of a delay.
                    </p>

                    <div class="scroll-down">
                        <a class="pe-7s-mouse"></a>
                    </div>
                </div>

                <div class="">
                    <div class="mockup-container">
                        <div class="row">
                            <div class="col-md-6">
                                 <div class="mockup-text">
                                    <h3 class="ebs-title text-red" style="font-weight: 700; text-transform: uppercase;"> Advantages </h3>
                                    <div class="" style=" font-size: 1rem; margin-left: 2rem;">
                                        You can easily manage your entire activity at this office:
                                        <ol style="font-size: 1rem; line-height: 1.5rem; margin-left: 2rem;">
                                            <li><i class="fa fa-check text-red" aria-hidden="true"></i>List of appointments, customers, services and materials;</li>
                                            <li><i class="fa fa-check text-red" aria-hidden="true"></i>Analysis area;</li>
                                            <li><i class="fa fa-check text-red" aria-hidden="true"></i> Excel export with the list of used materials;</li>
                                            <li><i class="fa fa-check text-red" aria-hidden="true"></i> Send SMS reminder to customers;</li>
                                        </ol>
                                    </div>
                                    <div class="" style="font-size: 1rem;margin-left: 2rem; margin-top: 3rem; line-height: 1.5rem;">
                                        To make the user's experience enjoyable in this application, which he is supposed to use several times a day, the interface has been created in accordance with the principles of User Experience Design. We opted for simplicity and clarity, the application being easy to use and quite intuitive by the presence of the buttons specific to the actions that can be performed. We have also tried as much as possible for adding actions, for example, being represented in the same way as the user, whether we are talking about client entities, programming, and service.
                                    </div>
                                 </div>
                            </div>

                             <div class="col-md-6"">
                                 <div class="mockup-image">
                                 </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div id="test-circle" style="width: 250px; height: 250px;"  data-info="New Clients" data-width="30" data-fontsize="38"></div>
                            </div>
                            <div class="col-md-4">
                                <div id="test-circle-2" style="width: 250px; height: 250px;" ></div>
                            </div>
                            <div class="col-md-4">
                                <div id="test-circle-3" style="width: 250px; height: 250px;" ></div>
                            </div>
                        </div>
                        <div class="row-subscribe">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-3">
                                    <h4>Subscribe for more informations!</h4>
                                </div>
                                <div class="col-md-3 col-md-offset-1" id="subscribe_form">
                                        <%= form_tag newsletter_path, html: {multipart: true},method: 'post' do |f| %>
                                            <div class="inp inp-azure">
                                                <%= text_field_tag :subscribe_email, nil, class: '', placeholder: 'Enter Email', type: 'email' %><br />
                                            </div>
                                             
                                            
                                            <%= submit_tag "Subscribe", {class: "btn btn-azure btn-fill"} %>
                                        <% end  %>    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                         <footer class="footer block-height-8">        
                            <div class="container">
                                <nav class="pull-left">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                About
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Contact Us
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <div class="social-area pull-right">                
                                    <a href="#">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="copyright">
                                    &copy; 2017 Assistant Inc.
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="cd-fail-message">No results found</div>
</section>

<script>
    (function() {
        var headline = document.querySelector('.trigger-headline'),
            headlineText = document.querySelector('.headline-text'),
            segmenter = new Segmenter(document.querySelector('.segmenter'), {
                onReady: setInterval(function() {
                    
                    segmenter.animate();
                    headline.classList.remove('trigger-headline--hidden');
                    headlineText.classList.remove('headline-text--hidden');
                },500)
            });
    })();
</script>

<script type="text/javascript">

    $('.scroll-down .pe-7s-mouse').click(function() {
        $('content-wrapper').animate({
            scrollTop: $("#scroll-top").offset().top
        }, 200);
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#test-circle").circliful({
            dimension: 100,
            animationStep: 5,
            foregroundBorderWidth: 5,
            backgroundBorderWidth: 5,
            icon: "none", 
            percent: 80,
            text: "Optimization",
            textStyle: "font-size: 16px; fill: #ddd",   
            textY: "120",                         
            backgroundColor: '#172232',
            foregroundColor: 'rgb(105, 94, 241)',
            fontColor: 'rgb(105, 94, 241)'
        });
        $("#test-circle-2").circliful({
            dimension: 100,
            animationStep: 5,
            foregroundBorderWidth: 5,
            backgroundBorderWidth: 5,
            percent: 65,  
            icon: "none", 
            text: "New Clients",
            textStyle: "font-size: 16px; fill: #ddd",
            textY: "120",                      
            backgroundColor: '#172232',
            foregroundColor: 'rgb(80, 183, 184)',
            fontColor: 'rgb(80, 183, 184)'
        });
        $("#test-circle-3").circliful({
            dimension: 100,
            animationStep: 5,
            foregroundBorderWidth: 5,
            backgroundBorderWidth: 5,
            icon: "none", 
            percent: 75, 
            text: "Productivity",
            textStyle: "font-size: 16px; fill: #ddd",
            textY: "120",         
            backgroundColor: '#172232',
            foregroundColor: 'rgb(224, 99, 101)',
            fontColor: 'rgb(224, 99, 101)'
        });
    });
    
</script>


                        









