<%= render partial: 'public_page/left_menu' %>

<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">            
        <div class="row">
          <h3>Materials
            <a type="button" class="btn btn-info btn-fill pull-right" data-trigger="collapseClient" onclick="showNewClientArea(this)"> + New Material</a>
          </h3>
          <hr>  
          <div class="col-md-4 col-md-offset-4" id="collapseClient" style="display:none">
            <%= form_for @material, url: create_material_path, method: 'post', remote: true do |f| %>
            <div class="form-group">
              <label>Material Name </label>
              <%= f.text_field :name, class: "form-control", placeholder: 'Name', type: 'text' %>
              <label>Unit</label>
              <%= f.text_field :unit, class: "form-control", placeholder: 'Unit (gr, ml)', type: 'text' %>
            </div>
            <%= f.button class: "btn btn-info btn-fill" do %>
            Create Material
            <% end %>
            
            <% end %>
            <br>
          </div>
        </div>
        <div class="row">
          <div class="clients-list">
           <table class="table table-striped">
            <tr>
              <th>Material Name</th>
              <th>Unit</th>
            </tr>
            <% @materials.each do |material| %>
            <tr>    
              <td><%= material.name %></td>
              <td><%= material.unit %></td>
            </tr>
            <% end %>
          </table>
        </div>
        
      </div>    
    </div>
  </div>
</div>
</div>
