<%= render partial: 'public_page/left_menu' %>

<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">            
        <div class="row">
          <h3>Services
            <a type="button" class="btn btn-info btn-fill pull-right" data-trigger="collapseClient" onclick="showNewClientArea(this)"> + New Service</a>
          </h3>
          <hr>  
          <div class="col-md-4 col-md-offset-4" id="collapseClient" style="display:none">
            <%= form_for @service, url: create_service_path, method: 'post', remote: true do |f| %>
            <div class="form-group">
             <label>Service Name </label>
             <%= f.text_field :service_name, class: "form-control", placeholder: 'Name', type: 'text' %>
             <label>Duration</label>
             <%= f.text_field :duration, class: "form-control", placeholder: 'Duration (minutes)', type: 'text' %>
             <label>Price</label>
             <%= f.text_field :price, class: "form-control", placeholder: 'Price', type: 'text' %>
           </div>
           <%= f.button class: "btn btn-info btn-fill" do %>
           Create Service
           <% end %>
           <% end %>
           <br>
         </div>
         
         
         <div class="clients-list">
          <table class="table table-striped">
            <tr>
              <th>Service Name</th>
              <th>Duration</th>
              <th>Price</th>
              <th>Materials</th>
              <th>Action</th>
            </tr>
            <% @services.each do |service| %>
            <tr>    
              <td><%= service.service_name %></td>
              <td><%= service.duration.to_i %> min</td>
              <td>$ <%= service.price %></td>
              <td>   
               <% @materials_string = "" %>
               <% if service.service_has_materials %>
               <% service.service_has_materials.each do |sm| %>
               <% @materials_string = @materials_string + sm.material.name + " " +  sm.quantity.to_s + " " + sm.material.unit + "<br/>" %>
               <% end %>
               <%= @materials_string.html_safe %>
             </td>				
             <td><%= link_to 'Edit', edit_service_path(service.id) %></td>
           </tr>
           <% end %>
           <% end %>
         </table>

       </div>
       
     </div>    
   </div>
 </div>
</div>
</div>
