<div class="left-navbar home-picker block-width-8">
    <ul class="pick-class">
        <li class="placeholder">
            <a  href="/dashboard">
                <i class="fa fa-calendar"></i> 
                Appointments
            </a>
        </li>
        <li class="filter" >
             <a data-type="all" href="/clients">
                <i class="fa fa-group"></i> 
                Clients
            </a>
        </li>
        <li class="filter">
             <a data-type="all" href="/services">
                <i class="fa fa-ticket"></i> 
                Services
            </a>
        </li>
        <li class="filter">
             <a data-type="all" href="/materials">
                <i class="fa fa-magic"></i> 
                Materials
            </a>
        </li>
        <li class="filter">
             <a data-type="all" href="/stats">
                <i class="fa fa-search"></i> 
                Statistics
            </a>
        </li>
        <li class="filter">
             <a data-type="all" href="/company/edit">
                <i class="fa fa-building"></i> 
                Company Informations
            </a>
        </li>
    </ul>
</div>