<section class="main-section">
  <%= render 'partials/navbar' %>
  <div class="content-wrapper">
      <div class="main-container">
        <%= render 'partials/left_menu' %>
          <div class="main-content main-content-with-menu">
            <div class="wrapper">
              <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12">  
                    	<div class="header-assistant">
	                       <h3 class="pull-left">List of appointments</h3>
	                    </div>  
				        <div class="clients-list">
				             <table class="table table-striped">
				               <tr>
				                <th>Client</th>
				                <th>Type</th>
				                <th>Date</th>
				                <th>Time</th>
				                <th>Duration</th>
				                <th>Actions</th>
					            </tr>
					            <% @apps.each do |app| %>
					            <% @service = Service.find_by_id(app.service_id) %>
					            <% @service_name = @service ? @service.service_name : ''%>
					 	    	<% @service_duration = @service ? @service.duration.to_i : 0 %>
					            
					                <tr>
					                    <td><%= app.client.name %></td>
					                    <td><%= @service_name %></td>
					                    <td><%= app.date %></td>
					                    <td><%= app.time.to_formatted_s(:time) %></td>
					                    <td><%= @service_duration %> min</td>
					                    <td><%= link_to 'Edit ', edit_appointment_path(app.id), class: "text-green" %>
					                        <%= link_to 'View', view_appointment_path(id: app.id, first_name: app.client.first_name, last_name: app.client.last_name), class: "text-green"%>
					                        <%= link_to 'Delete ', delete_appointment_path(app.id), :method => :delete, class: "text-green" %>
					                    </td>
					                </tr>

					            <% end %>
				            </table>
				        </div>
				    </div>
                          
                  </div>
              </div> <!-- container fluid -->
          </div>
          </div>
      </div>

  </div>
</section>





