<div class="row">
  <%= form_for @service,  url: checkService_path, method: 'post', remote: true do |f| %>
    <div class="form-group">
       <label>Duration</label>
       <%= text_field :duration, class: "form-control", placeholder: 'Duration (minutes)', type: 'text' %>
       <label>Price</label>
       <%= text_field :price, class: "form-control", placeholder: 'Price', type: 'text' %>
    </div>
    <%= f.button class: "btn btn-info btn-fill" do %>
           Create Service
    <% end %>
      <p><%= @decision %></p>
  <%end%>
  </div>