<section class="main-section">
  <%= render 'partials/navbar' %>
  <div class="content-wrapper">
      <div class="main-container">
        <%= render 'partials/left_menu' %>
          <div class="main-content main-content-with-menu">
            <div class="wrapper">
              <div class="container-fluid">
                <div class="row"> 
                  <div class="col-md-12">                    
                    <div class="header-assistant">
                       <h3 class="pull-left">Clients</h3>
                        <a type="button" class="btn btn-fill btn-purple pull-right" data-trigger="collapseClient" onclick="showNewClientArea(this)">
                           + New Client
                        </a>
                    </div>
                  </div>
                  <div class="col-md-4 col-md-offset-4" id="collapseClient" style="display:none">
                    <div class="card card-login card-purple card-collapse">
                        <div class="preview">
                          <div class="cardLoginTitle">Add Client</div>
                        </div>
                        <div class="content">
                             <%= form_for @client, url: create_client_path, method: 'post', remote: true do |f| %>
                                <div class="inp inp-purple">
                                  <%= f.text_field :first_name,class: "", placeholder: 'First Name', type: 'text' %>

                                </div>
                                <div class="inp inp-purple">
                                  <%= f.text_field :last_name,class: "", placeholder: 'Last Name', type: 'text' %>
                                </div>
                                <div class="inp inp-purple">
                                  <%= f.text_field :emailC, class: "", placeholder: 'Email', type: 'text'%>
                                </div>
                                <div class="inp inp-purple">
                                  <%= f.text_field :telephone, class: "", placeholder: 'Telephone', type: 'text' %>
                                </div>
                                <%= f.button class: "btn btn-info btn-fill btn-purple" do %>
                                   Save 
                                <% end %>
                              <% end %>
                        </div> 
                      </div>
                  </div>
                </div>     

                <div class="row">            
                  <div class="col-md-12">
                    <div class="clients-list">
                      <table class="table table-striped">
                        <tr>
                          <th>Name</th>
                          <th>Telephone</th>
                          <th>Email</th>
                          <th> Link</th>
                        </tr>
                        <% @clients.each do |client| %>
                          <tr>    
                            <td><%= link_to client.name, client_path(client.id) %></td>
                            <td><%= client.telephone %></td>
                            <td><%= client.emailC %></td>
                            <td><%= link_to 'Edit', edit_client_path(client.id), class: "text-green" %></td>
                          </tr>
                        <% end %>
                      </table>
                    </div> 
                  </div>     
                </div>      
              </div> <!-- container fluid -->
            </div>
          </div>
      </div>
  </div>
</section>


