<section class="main-section">
  <%= render 'partials/navbar' %>
  <div class="content-wrapper">
      <div class="main-container">
        <%= render 'partials/left_menu' %>
          <div class="main-content main-content-with-menu">
            <div class="wrapper">
              <div class="container-fluid">
                  <div class="row">

                    <div class="col-md-12">                    
                      <div class="header-assistant">
                         <h3 class="pull-left">Calendar</h3>
                          <%= link_to 'Appointments', appList_path, class: 'btn btn-fill btn-red pull-right' %>
                          <a type="button" class="btn btn-fill btn-red pull-right" data-trigger="collapseClient" onclick="showNewClientArea(this)">
                             + New Appointment
                          </a>
                      </div>
                    </div>
                    <div class="col-md-4 col-md-offset-4" id="collapseClient" style="display:none">
                      <div class="card card-login card-red card-collapse">
                        <div class="preview">
                          <div class="cardLoginTitle">Add Appointment</div>
                        </div>
                        <div class="content">
                           <%= form_for @appointment, url: create_appointment_path, method: 'post', remote: true do |f| %>
                            <div class="inp inp-red" style="margin: 1rem 0">
                              <% options = options_from_collection_for_select(@clients, 'id', 'name') %>
                               <%= f.select(:client_id, options, {}, {'class' => 'selectpicker', 'data-style' => 'btn btn-red  btn-block' }) %>
                            </div>
                            <div class="inp inp-red" style="margin: 1rem 0">
                              <% service_options = options_from_collection_for_select(@services, 'id', 'service_name')%>
                              <%= f.select(:service_id, service_options, {}, { 'class' => 'selectpicker', 'data-style' => 'btn btn-red btn-block' })%>
                            </div>
                            <div class="inp inp-red">
                              <%= f.text_field :date, class: " datepicker", placeholder: 'Date', type: 'text' %>
                            </div>
                            <div class="inp inp-red">
                              <%= f.text_field :time, class: "form-control", placeholder: 'Time', type: 'time' %>
                            </div>

                            <%= f.button class: "btn btn-red btn-fill", style: "margin-top: 0.5rem" do %>
                             Save 
                            <% end %>
                          <% end %>
                        </div> 
                      </div>
                        
                    </div>      
                  </div>

                  <div class="row">
                    <div class="calendar-container">
                      <div id="calendar"></div>      
                    </div>
                  </div>

              </div> <!-- container fluid -->
          </div>
          </div>
      </div>

  </div>
</section>


<div class="modal fade" id="sendNotificationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag send_sms_path, method: 'post' do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Send  Notification</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <div class="inp inp-red" style="margin: 1rem 0">
               <select name="delay" placeholder="Select minutes delay">
               <option value="" disabled selected>Select minutes to delay</option>
                 <option value="0"> 0 minutes </option>
                 <option value="30">30 minutes</option>
                 <option value="45">45 minutes</option>
                 <option value="60">1 hour</option>
                 <option value="75">1 hour 15 minutes</option>
                 <option value="90">1 hour 30 minutes</option>
                 <option value="120">2 hours</option>
                 <option value="150">2 hours 30 minutes</option>
             </select>
            </div>
            
            
	      <div class="checkbox checkbox-pink" style="margin: 1rem 0">
            <label>
            <input type="checkbox" name="chkOnly1sms" value="1">
            <i class="helper"></i>
            Only for this pacient
            </label>
        </div>
             <input type="hidden" name="appointment_day" id="appointmentDay">  
	     <input type="hidden" name="appointment_id" id="appointmentId"> 	  
             <input type="hidden" name="pacient_telephone" id="pacientTelephone">
             
             <div class="inp inp-red" style="margin: 1rem 0">
              <%= text_area(:text, :content, rows: 5, class: "", placeholder: 'Write your message here') %>
             </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-red btn-fill on-send-loading">Send Message</button>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    $().ready(function(){
        var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		/*  className colors
		
		className: default(transparent), important(red), chill(pink), success(green), info(blue)
		
		*/		
	
	
		/* initialize the calendar
		-----------------------------------------------------------------*/
		
		var calendar =  $('#calendar').fullCalendar({
			header: {
				left: 'title',
				center: 'basicDay,basicWeek,month,listMonth',
				right: 'prev,next today'
			},
			
			firstDay: 1, //  1(Monday) this can be changed to 0(Sunday) for the USA system
			selectable: true,
			defaultView: 'month',
			
			axisFormat: 'h:mm',
			columnFormat: {
                month: 'ddd',    // Mon
                week: 'ddd d', // Mon 7
                day: 'dddd M/d',  // Monday 9/7
                agendaDay: 'dddd d'
            },
            titleFormat: {
                month: 'MMMM yyyy', // September 2009
                week: "MMMM yyyy", // September 2009
                day: 'MMMM yyyy'},
		allDaySlot: false,
		selectHelper: true,
		eventClick: function(calEvent, jsEvent, view) {    			
    			start_date = new moment(calEvent.start);
    			start_date = start_date.format("MMMM Do YYYY, HH:mm");
    			
    			$('#pacientTelephone').val(calEvent.phoneNumber);
    			$('#appointmentDay').val(start_date);
          $('#appointmentId').val(calEvent.appId);
          $('#sendNotificationModal').modal('show');       
    },
			
		events: [
				<% @appointments.each do |app| %>{
    			<% @Service = Service.find_by_id(app.service_id) %>
    			<% @AppEndTime = app.time + @Service.duration.minutes %>	
                title: '<%= app.client.name + ' - ' + @Service.service_name %>',
                start: '<%= app.date %>T<%= app.time.to_formatted_s(:time) %>',
                end: '<%= app.date %>T<%= @AppEndTime.to_formatted_s(:time) %>',
                allDay: false,
                className: 'important',
                phoneNumber: '<%= app.client.telephone %>',
                appId:  '<%= app.id %>',
                
            },
         <% end %>
			],
      

			eventRender: function(event, element) {
                $(element).attr('rel','tooltip').attr('title','Send SMS');
            }			
		});
		
		$('[rel="tooltip"]').tooltip();
    });
    $(function () {
                $('.datepicker').datepicker();
            });

  
</script>
