<section class="main-section">
  <%= render 'partials/navbar' %>
  <div class="content-wrapper">
      <div class="main-container">
        <%= render 'partials/left_menu' %>
          <div class="main-content main-content-with-menu">
            <div class="wrapper">
              <div class="container-fluid">
                <div class="row"> 
                  <div class="col-md-12">                    
                    <div class="header-assistant">
                       <h3 class="pull-left">Materials</h3>
                        <%= link_to "Export csv", materials_path(format: "csv"), class: "btn btn-default btn-azure pull-right" %> 
                        <%= link_to "Export xls", materials_path(format: "xls"), class: "btn btn-default btn-azure pull-right" %>
                        <a type="button" class="btn  btn-fill btn-azure pull-right" data-trigger="collapseClient" onclick="showNewClientArea(this)">
                           + New Material
                        </a>
                    </div>
                  </div>
                  <div class="col-md-4 col-md-offset-4" id="collapseClient" style="display:none">
                   <div id="card-login-colors" class="card card-login card-azure card-collapse">
                            <div class="preview">
                                <div class="cardLoginTitle">Add Material</div>
                            </div>
                            <div class="content" id="inp-login-colors">
                                 <%= form_for @material, url: create_material_path, method: 'post', remote: true do |f| %>
                                    <div class="inp inp-azure">
                                      <%= f.text_field :name, class: "", placeholder: 'Name', type: 'text' %>
                                    </div>
                                    <div class="inp inp-azure">
                                      <%= f.text_field :unit, class: "", placeholder: 'Unit (gr, ml)', type: 'text' %>
                                    </div>
                                    <div class="inp inp-azure">
                                      <%= f.text_field :price, class: "", placeholder: 'Price/unit ', type: 'text' %>
                                    </div>
                                     <%= f.button class: "btn btn-azure btn-fill" do %>
                                      Save
                                      <% end %>
                                  <% end %>
                            </div>
                        </div>
                     
                      <br>
                  </div>
                </div>     

                <div class="row">            
                  <div class="col-md-12">
                    <div class="clients-list">
                      <table class="table table-striped">
                        <tr>
                            <th>Material Name</th>
                            <th>Units </th>
                            <th>Price</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                        <% @materials.each do |material| %>
                            <tr>    
                            <td><%= material.name %></td>
                            <td><%= material.unit %></td>
                            <td><%= material.price %> $</td>
                            <td><%= material.price.to_f * material.unit.to_f %> $ </td>
                            <td><%= link_to 'Edit', edit_material_path(material.id), class: 'text-green' %></td>
                            </tr>
                        <% end %>
                      </table>
                    </div> 
                  </div>     
                </div>      
              </div> <!-- container fluid -->
            </div>
          </div>
      </div>
  </div>
</section>

