

<div class="search-page">
    <div class="container">
        <div class="col-md-7">
            <h2>
                <small style="border-top: 0px;">Search results:</small> 
                <span class="hello"><%=raw @search %></span>
                
            </h2>
        </div>
        <div class="col-md-5">
            <div class="actions pull-right">
            <p> <%= @decision %></p>
            </div>
        </div>

        
        </div>
        
    </div>
</div>


