

<section class="main-section">
  <%= render 'partials/navbar' %>
  <div class="content-wrapper">
      <div class="main-container">
        <%= render 'partials/left_menu' %>
          <div class="main-content main-content-with-menu">
            <div class="wrapper">
              <div class="container-fluid">
                <div class="row"> 
                  <div class="col-md-12">                    
                    <div class="header-assistant">
                       <h3 class="pull-left">Services</h3>
                        <a type="button" class="btn btn-green btn-fill pull-right" data-trigger="collapseClient" onclick="showNewClientArea(this)">
                           + New Service
                        </a>
                    </div>
                  </div>
                  <div class="col-md-4 col-md-offset-4" id="collapseClient" style="display:none">
                     <div class="card card-login card-green card-collapse">
                     <div class="preview">
                                <div class="cardLoginTitle">Add Service</div>
                            </div>
                        <div class="content">
                          <%= form_for @service, url: create_service_path, method: 'post', remote: true do |f| %>
                            <div class="inp inp-green ">
                              <%= f.text_field :service_name, class: "", placeholder: 'Name', type: 'text' %>
                            </div>
                            <div class="inp inp-green">
                              <%= f.text_field :duration, class: "", placeholder: 'Duration (min)', type: 'text' %>
                            </div>
                            <div class="inp inp-green">
                              <%= f.text_field :price, class: "", placeholder: 'Price', type: 'text' %>
                            </div>

                            <%= f.button class: "btn btn-green btn-fill" do %>
                             Save
                            <% end %>
                          <% end %>
                        </div> 
                      </div>
               
                      <br>
                  </div>
                </div>     

                <div class="row">            
                  <div class="col-md-12">
                    <div class="clients-list">
                      <table class="table table-striped">
                        <tr>
                          <th>Service Name</th>
                          <th>Duration</th>
                          <th>Price</th>
                          <th>Materials</th>
                          <th>Action</th>
                          
                        </tr>
                        <% @services.each do |service| %>
                            <tr>    
                              <td><%= service.service_name %></td>
                              <td><%= service.duration.to_i %> min</td>
                              <td> <%= service.price %>$</td>
                              <td>   
                              <% @materials_string = "" %>
                              <% if service.service_has_materials %>
                                    <% service.service_has_materials.each do |sm| %>
                                 <% @materials_string = @materials_string + sm.material.name + ", " +  sm.quantity.to_s + " unit, " + sm.material.price.to_i.to_s + "$ <br/>" %>
                              <% end %>
                              <%= @materials_string.html_safe %>
                              </td>       
                              <td><%= link_to 'Edit', edit_service_path(service.id), class: "text-green" %></td>
                             
                            </tr>
                            <% end %>
                        <% end %>
                      </table>
                    </div> 
                  </div>     
                </div>  

                <div class="header-assistant">
                  <h3 class="pull-left">Check profitability of potential service</h3>
                </div>
                <div class="row">
                  <div class="col-md-8 col-md-offset-2 ">
                    <%= form_tag("/checkService", method: "get", class: "check-s") do |f| %>
                      <div class="inp inp-green">
                        <%= text_field_tag 'dur',nil, placeholder: 'Enter duration' %>
                        <%= text_field_tag 'pric',nil, placeholder: 'Enter price'  %>
                      </div>

                       <input name='commit' id="check-s" type='submit' style="clear:both" value='Check' class="btn btn-fill btn-green"/>              
                    <%end%>
                    <div style="clear: both; text-align: center; margin-top: 1.2rem;">
                      <h3>
                        <% if @decision=="profitable" %>
                           You can add this service to your portofolio!   
                        <% elsif @decision=="unprofitable" %>
                            We are sorry, but this service will be unprofitable for you!
                        <% elsif @okish==1 %>
                            Please aproximate your values to those existing in the database! Try again!
                        <% else %>

                        <% end %>
                      </h3>
                    </div>  
                  </div>         
                </div>    
              </div> <!-- container fluid -->
            </div>
          </div>
      </div>
  </div>
</section>


