
<section class="main-section">
  <%= render 'partials/navbar' %>
  <div class="content-wrapper">
    <div class="main-container">
      <%= render 'partials/left_menu' %>
      <div class="main-content main-content-with-menu">
        <div class="wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="header-assistant">
                   <h3 class="pull-left">This month stats</h3>
                </div>
              </div>
            </div>
            <div class="row">
                  <div class="col-md-4">
                      <div id="test-circle" style="width: 250px; height: 250px;" ></div>
                  </div>
                  <div class="col-md-4">
                      <div id="test-circle-2" style="width: 250px; height: 250px;" ></div>
                  </div>
                  <div class="col-md-4">
                      <div id="test-circle-3" style="width: 250px; height: 250px;" ></div>
                  </div>
            </div>
            <div class="row">
              <div class="col-md-12">   
                <!--  <%= debug @appointments %>         -->      
                <div id="downloadsChart" style="height: 250px; margin-bottom: 3rem"></div>
              </div>
            </div>
             <div class="row" >
              <div class="col-md-12">
                <div class="header-assistant">
                   <h3 class="pull-left">All time stats</h3>
                </div>
              </div>
            </div>
            <div class="row" style="margin-bottom: 4rem;">
              <div class="col-md-6">
                <div id="donutchart" style="width: 100%;"></div>   
              </div>
              <div class="col-md-6">
                <div id="donutchart2" style="width: 100%;"></div>   
              </div>      
            </div>
            <div class="row">
              <div class="col-md-4">
                <div id="donutchart4" style="width: 100%; "></div>   
              </div>
              <div class="col-md-4">
                <div id="donutchart5" style="width: 100%; "></div>   
              </div> 
              <div class="col-md-4">
                <div id="donutchart6" style="width: 100%; "></div>   
              </div>
            </div>
            
          </div> <!-- container fluid -->
        </div>
      </div>
    </div>
  </div>
</section>



<script type="text/javascript">
    
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {
    var rowData = [
      ['Date', 'Appointments', { role: 'style' } ],
      <% if @appointments.count != 0 %>
          <% @appointments.each do |day, number|
             downloads_number = number.count.to_s
             period = day.strftime("%m-%d").to_s  
          %>
            <% @string = "[ '" + period + "', " + downloads_number + ", 'color : #e06365']," %>
            <%= @string.html_safe %>
         <% end %>
     <% else %>
        [<%= @time.strftime('%m-%d').to_s %>, 0, 'color: #e06365']
     <% end %>
     
     ];
     
    var data = google.visualization.arrayToDataTable(rowData);

    _chartOptions = {
      title: '',
      curveType : 'function',
      pointSize : 5,
      series: {
        0: { color: '#e06365' }
      },
      animation:{
            duration: 1000,
            easing: 'out',
      },
      backgroundColor:{fill: '#172232'}, 
      chartArea: {width: '80%', height: '70%'},
      legend: {textStyle:{color: '#fff'}, position: 'bottom'},
      hAxis: {textStyle:{color:'#95a5a6'}, gridlines: {color: 'transparent'}},
      vAxis: {textStyle:{color: '#95a5a6'}, gridlines: {color: 'transparent'}}, 

    };

    _downloadsChart = new google.visualization.LineChart(document.getElementById('downloadsChart'));
    _downloadsChart.draw(data, _chartOptions);
  }
</script>


<script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Services', 'Number'],


            <% @services.each do |service|%>
              <% @val= @apps.where(service_id: service.id).count %>
              <% @string = "[ '" + service.service_name + "', " + @val.to_s + " ]," %>
              <%= @string.html_safe %>
            <% end %>

        ]);

        var options = {
          titleTextStyle: {
              color: "#fff",    // any HTML string color ('red', '#cc00cc')
          },
          title: 'Times you used services',
          pieHole: 0.4,
          colors: ['#5FBDBE','#a5dada','#429697', '#337576','#6dc3c4','#89cecf', '#2C6465', '#1E4343', '#0F2222'],
          backgroundColor:{fill: '#172232', stroke: 'transparent'}, 
          chartArea: {width: '80%', height: '100%'},
          legend: {textStyle:{color: '#fff'}},
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
</script>

<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Services', 'Price'],


            <% @services.each do |service|%>
            <% @val= @apps.where(service_id: service.id).count %>
            <% @string = "[ '" + service.service_name + "', " + (service.price.to_i * @val).to_s + " ]," %>
            <%= @string.html_safe %>
            <% end %>

        ]);

        var options = {
          titleTextStyle: {
              color: "#fff",    // any HTML string color ('red', '#cc00cc')
          },
          title: 'Receipts from services all time',
          colors: ['#5FBDBE','#a5dada','#429697', '#337576','#6dc3c4','#89cecf', '#2C6465', '#1E4343', '#0F2222'],
          backgroundColor:{fill: '#172232', stroke:'transparent'}, 
          chartArea: {width: '80%', height: '100%'},
          legend: {textStyle:{color: '#fff'}},
          is3D: true,
          
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart2'));

        chart.draw(data, options);
      }
</script>

<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Services', 'Price'],


            <% @services.each do |service|%>
            <% @val= @appointments_month.where(service_id: service.id).count %>
            <% @string = "[ '" + service.service_name + "', " + (service.price.to_i * @val).to_s + " ]," %>
            <%= @string.html_safe %>
            <% end %>

        ]);

        var options = {
          titleTextStyle: {
              color: "#fff",    // any HTML string color ('red', '#cc00cc')
          },
          title: 'Receipts from services this month',
          colors: ['#5FBDBE','#a5dada','#429697', '#337576','#6dc3c4','#89cecf', '#2C6465', '#1E4343', '#0F2222'],
          backgroundColor:{fill: '#172232', stroke:'transparent'}, 
          chartArea: {width: '80%', height: '100%'},
          legend: {textStyle:{color: '#fff'}},
          is3D: true,
          
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart3'));

        chart.draw(data, options);
      }
</script>

<script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Material', 'Unit'],


            <% @materials.each do |material|%>
            <% @string = "[ '" + material.name + "', " + (material.price.to_i * material.unit.to_i).to_s + " ]," %>
            <%= @string.html_safe %>
            <% end %>

        ]);

        var options = {
          titleTextStyle: {
              color: "#fff",    // any HTML string color ('red', '#cc00cc')
          },
          title: ' Costs with materials',
          pieHole: 0.4,
          colors: ['#10508e','#1464b1', '#166ec3', '#1b81e5', '#62a8ed', '#509eeb', '#85bcf1', '#0c3c6b', '#2d8be7', '#85bcf1'],
          backgroundColor:{fill: '#172232', stroke: 'transparent'}, 
          chartArea: {width: '80%', height: '100%'},
          legend: {textStyle:{color: '#fff'}},
          is3D: true
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart4'));
        chart.draw(data, options);
      }
</script>

<script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Material', 'Unit'],


            <% @materials.each do |material|%>
            <% @vall = @serv_mat.where(material_id: material.id).count%>
            <% @string = "[ '" + material.name + "', " + @vall.to_s + " ]," %>
            <%= @string.html_safe %>
            <% end %>

        ]);

        var options = {
          titleTextStyle: {
              color: "#fff",    // any HTML string color ('red', '#cc00cc')
          },
          title: ' Most used materials',
          pieHole: 0.4,
          colors: ['#10508e','#1464b1', '#166ec3', '#1b81e5', '#62a8ed', '#509eeb', '#85bcf1', '#0c3c6b', '#2d8be7', '#85bcf1'],
          backgroundColor:{fill: '#172232', stroke: 'transparent'}, 
          chartArea: {width: '80%', height: '100%'},
          legend: {textStyle:{color: '#fff'}},
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart5'));
        chart.draw(data, options);
      }
</script>

<script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Material', 'Unit'],


            <% @materials.each do |material|%>
            <% @vall = @serv_mat.where(material_id: material.id)%>
            <% @q=0 %>
            <% @vall.each do |serv_m| %>
              <% @q += serv_m.quantity %>
            <% end %>
            <% @string = "[ '" + material.name + "', " + (material.unit.to_i - @q).to_s + " ]," %>
            <%= @string.html_safe %>
            <% end %>

        ]);

        var options = {
          titleTextStyle: {
              color: "#fff",    // any HTML string color ('red', '#cc00cc')
          },
          title: ' Current stock of materials',
          pieHole: 0.4,
          colors: ['#10508e','#1464b1', '#166ec3', '#1b81e5', '#62a8ed', '#509eeb', '#85bcf1', '#0c3c6b', '#2d8be7', '#85bcf1'],
          backgroundColor:{fill: '#172232', stroke: 'transparent'}, 
          chartArea: {width: '80%', height: '100%'},
          legend: {textStyle:{color: '#fff'}},
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart6'));
        chart.draw(data, options);
      }
</script>

<script type="text/javascript">
    $(document).ready(function(){
    <% @x= Appointment.where('extract(month from created_at) = ? and user_id = ?', Time.new().month, current_user.id).count%>
    <% @y= Appointment.where('extract(month from created_at) = ? and user_id = ?', Time.new().month - 1, current_user.id).count %>
    <% if @y!=0 %>
          <% @val= (@x - @y)*100/@y %>
          <% else @val=100 %>
          <% end %>
        $("#test-circle").circliful({
            dimension: 100,
            animationStep: 5,
            foregroundBorderWidth: 5,
            backgroundBorderWidth: 5,
            icon: "none", 
            percent: <%= @val.to_s.html_safe %>,
            text: "More appointments",
            textStyle: "font-size: 12px; fill: #ddd",   
            textY: "120",    
            backgroundColor: '#172232',
            foregroundColor: 'rgb(224, 99, 101)',
            fontColor: 'rgb(224, 99, 101)'                     
            
        });

        $("#test-circle-2").circliful({
          <% @x= Client.where('extract(month from created_at) = ? and user_id = ?', Time.new().month, current_user.id).count%>
          <% @y= Client.where('extract(month from created_at) = ? and user_id = ?', Time.new().month - 1, current_user.id).count %>
          <% if @y!=0 %>
          <% @val= (@x - @y)*100/@y %>
          <% else @val=100 %>
           <% end %>
            dimension: 100,
            animationStep: 5,
            foregroundBorderWidth: 5,
            backgroundBorderWidth: 5,
            percent: <%= @val.to_s.html_safe %>,  
            icon: "none", 
            text: "New Clients",
            textStyle: "font-size: 12px; fill: #ddd",
            textY: "120",
            backgroundColor: '#172232',
            foregroundColor: 'rgb(105, 94, 241)',
            fontColor: 'rgb(105, 94, 241)'                      
            
        });

        $("#test-circle-3").circliful({
          <% @x= Service.where('extract(month from created_at) = ? and user_id = ?', Time.new().month, current_user.id).count%>
          <% @y= Service.where('extract(month from created_at) = ? and user_id = ?', Time.new().month - 1, current_user.id).count %>
          <% if @y!=0 %>
          <% @val= (@x - @y)*100/@y %>
          <%else @val=100%>
           <% end %>
            dimension: 100,
            animationStep: 5,
            foregroundBorderWidth: 5,
            backgroundBorderWidth: 5,
            icon: "none", 
             percent: <%= @val.to_s.html_safe %>,  
            text: "New Services",
            textStyle: "font-size: 12px; fill: #ddd",
            textY: "120",  
            backgroundColor: '#172232',
            foregroundColor: 'rgb(80, 183, 184)',
            fontColor: 'rgb(80, 183, 184)'       
           
        });
    });
    
</script>




