

<section class="main-section">
    <%= render 'partials/navbar' %>
    <div class="content-wrapper">
      <%= render 'partials/left_menu' %>
        <div class="login-container main-content-with-menu" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4  col-xs-12 type-6">
                    </div>
                    <div class="col-md-4 col-xs-12 type-6">
                        <div id="card-login-colors" class="card card-login card-blue">
                            <div class="preview">
                                <div class="cardLoginTitle">Company Information</div>
                            </div>
                            <div class="content" id="inp-login-colors">
                                <%= form_for @company, url: update_company_path, method: 'post' do |f| %>
                                    <div class="content" >
                                        <div>
                                          <div class="inp inp-blue">
                                            <%= f.text_field :name, :class => '', placeholder: 'Name', type: 'text' %>
                                          </div>
                                          <div class="inp inp-blue">
                                            <%= f.text_field :cui, :class => '', placeholder: 'CUI', type: 'text' %>
                                          </div>
                                          <div class="inp inp-blue">
                                            <%= f.text_field :tva, :class => '', placeholder: 'VAT ID', type: 'number' %>
                                          </div>
                                          <div class="inp inp-blue">
                                            <%= f.text_field :phone, :class => '', placeholder: 'Phone Number', type: 'number' %>
                                          </div>
                                          <div class="inp inp-blue">
                                            <%= f.text_area :address, class:"",placeholder: 'Address', rows: 4%>
                                          </div>
                                      </div>
                                        <div  class="btn-login-wrapper">
                                            <%= submit_tag "Edit", {class: "btn btn-block btn-lg btn-fill btn-round btn-login btn-blue"} %>
                                        </div> 
                                    </div>
                                <%end%>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 type-6">
                </div>
            </div>
        </div>
    </div>
</section>
