
<section class="main-section">
  <%= render 'partials/navbar' %>
  <div class="content-wrapper">
      <div class="main-container">
        <%= render 'partials/left_menu' %>
          <div class="main-content main-content-with-menu">
            <div class="wrapper">
              <div class="container-fluid">
                <div class="row"> 
                    <div class="col-md-12">                    
                        <div class="header-assistant">
                           <h3 class="pull-left">Edit: <%= @service.service_name %></h3>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-1" >
                      <div class="card card-login card-purple card-collapse">
                        <div class="preview">
                          <div class="cardLoginTitle">Edit Service</div>
                        </div>
                        <div class="content">
                             <%= form_for @service, url: update_service_path(@service.id), method: 'post', remote: true do |f| %>
                                <div class="inp inp-purple">
                                    <%= f.text_field :service_name, class: "", placeholder: 'Name', type: 'text' %>  
                                </div>
                                <div class="inp inp-purple">
                                    <%= f.text_field :duration, class: "", placeholder: 'Duration', type: 'numeric' %> 
                                </div>
                                <div class="inp inp-purple">
                                    <%= f.text_field :price, class: "", placeholder: 'Price', type: 'numeric' %>
                                </div>
                                <%= f.button class: "btn btn-info btn-fill btn-purple" do %>
                                   Update
                                <% end %>
                              <% end %>
                        </div> 
                      </div>
                    </div>

                     <div class="col-md-4 col-md-offset-2 " >
                       <div class="card card-login card-purple card-collapse">
                        <div class="preview">
                          <div class="cardLoginTitle">Add Material To Service</div>
                        </div>
                        <div class="content">
                             <%= form_for @servicehasmaterial, url: create_servicehasmaterials_path, method: 'post', remote: true do |f| %>      

                            <%= f.hidden_field :service_id,  :value => @service.id %> 
                            <div class="inp inp-purple">
                                <% options2 = options_from_collection_for_select(@materials, 'id', 'name') %> 
                                <%= f.select :material_id,  options2 %>
                            </div>                
                        
                            
                            <div class="inp inp-purple">
                                <%= f.text_field :quantity, class: "form-control", placeholder: 'Quantity', type: 'numeric' %> 
                            </div>   

                        <button type="submit" class="btn btn-purple btn-fill">Add Material</button>        

                        <% end %>
                        </div> 
                      </div>
                        
                      <br>
                    </div>
                </div>     

                     
              </div> <!-- container fluid -->
            </div>
          </div>
      </div>
  </div>
</section>



