.datepicker {
    top: 0;
    left: 0;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
    > div {
      display: none;
    }
    
    table {
         width: 100%;
         margin: 0;
    }
    
    td,
    th {
        text-align: center;
        width: 20px;
        height: 20px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }  
    
    td{
        border-top: 1px solid $medium-gray;
        text-align: center;   
        p{
            font-size: $font-size-small;
            font-weight: $font-weight-normal;            
            border-radius: 50%;
            height: 29px;
            line-height: 29px;
            margin: 3px 0 8px;
            width: 29px;
        }
        :hover{  
            cursor: pointer;
        }
    }
    
    th{
         font-weight: $font-weight-light;
          
         &.switch-datepicker{
             font-size: $font-paragraph;
        }
    }
    
    .prev , 
    .next {
        font-size: $font-size-h3;
    }
    
    p:hover{
         background: #eeeeee;
    }
    
    .day.disabled {
         color: #eeeeee;
    }

    td.old,
    td.new {
        color: #999999;
        border-top: 0;
    }

    span {
        display: block;
        width: 55px;
        height: 54px;
        line-height: 54px;
        float: left;
        margin: 2px;
        cursor: pointer;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        
        &.old {
            color: #999999;
        }
    }
  
    th.switch-datepicker {
      width: 145px;
    }
    th.next,
    th.prev {
      font-size: 21px;
    }
    thead tr:first-child th {
      cursor: pointer;
    }
    thead tr:first-child th:hover {
      background: #1a283b;
    }
    
    &.dropdown-menu{    
        border-radius: 4px;
        @include box-shadow(none);
        @include transform-origin(none);
        @include transform-scale(1);
        margin-top: -20px;
    }
    
    &.dropdown-menu.open{
        @include opacity(1);
        visibility: visible;
        margin-top: -1px;
    } 
    
    .table-condensed > tbody > tr > td{
        padding: 7px;
        cursor: pointer;
    }
    
    .table-condensed > thead > tr > th{
        padding: 0;
    }
}

.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.datepicker-months thead{
    padding: 0 0 3px;
    //display: block;
}

.dropdown-menu {
  background-color: rgb(23, 34, 50);
  color: #ddd;

  span{
    color: #ddd;
    &:hover{
        background-color: transparent;
        color: #fff;
    }
  }
  &> li > a:hover{
    background-color:transparent;
  }

}
