.public-page-full{
	width:100%;
	height: calc(100vh - 3.44492vw);
	display: block;
	position: relative;
	// background-image: image-url('background.jpg');
	// background-size: cover;
}
	.scroll-down{
		width: 4rem;
	    position: absolute;
	    bottom: 1rem;
		right: 50%;
		transform: translateX(50%);
	    height: 4rem;
	    text-align: center;
	    vertical-align: middle;

	    a{
	    	font-size: 2.5rem;
	    	color: #e7edf4;
	    	position: relative;
		    top: 50%;
		    transform: translateY(-50%);
	    }
	}

	.mockup-container{
		padding: 2rem 0;

		.row-subscribe{
			margin-top: 2rem;
		}

		.row{
			margin: 0;
		}
		.mockup-image{
			height: 450px;
			background-image: image-url('/images/lms2.png');
			background-image: url(/images/lms2.png);
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: cover;
		}

		.mockup-text{
			padding: 2rem 0rem;
		    padding-left: 5rem;

    		p, .ebs-title{
    			 color:#e7edf4;
    		}
    		.ebs-title{
    			margin-bottom: 25px;
    			min-height: 32px;
    		}

    		p{
    			line-height: 1.3rem;
    		}
		}
	}
	


.segmenter {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;

	&:after{
		content: "";
	    display: inline-block;
	    width: 100%;
	    height: 100%;
	    z-index: 20000000;
	    background-image: linear-gradient(45deg, #eef7f9 0%, #1a283b 100%);
	}
}

.segmenter__image {
	width: 100%;
	display: block;
}

.segmenter__background,
.segmenter__pieces,
.segmenter__piece-wrap,
.segmenter__piece-parallax,
.segmenter__piece {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.segmenter__piece-parallax {
	-webkit-transition: -webkit-transform 0.2s ease-out;
	transition: transform 0.2s ease-out;
}

.segmenter__pieces {
	-webkit-perspective: 400px;
	perspective: 400px;
}

.segmenter__background,
.segmenter__piece {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.segmenter__shadow {
	position: absolute;
	opacity: 0;
	box-shadow: 0px 2px 15px rgba(0,0,0,0.7);
}

/* Individual shadow styles */
.demo-1 .segmenter__shadow {
	box-shadow: 0px 20px 50px rgba(18, 20, 28, 0.61);
}


.trigger-headline {
	top: 0;
	left: 0;
	position: absolute;
	font-size: 6vw;
	text-transform: uppercase;
	pointer-events: none;
	line-height: 1;
	width: 100%;
	height: 40%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: flex-end;
	-ms-flex-align: center;
	align-items: flex-end;
	justify-content: center;
	margin: 0;
}

.trigger-headline span, .headline-text{
	color: #e7edf4;
	display: inline-block;
	position: relative;
	padding: 0 2vw;
	-webkit-transition: opacity 2s, -webkit-transform 2s;
	transition: opacity 2s, transform 2s;
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	-webkit-transition-delay: 0.7s;
	transition-delay: 0.7s;
}

.headline-text{
	position: absolute;
    top: 45%;
    width: 60%;
    text-align: center;
    right: 50%;
    transform: translateX(50%);
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.js .trigger-headline--hidden span, .js .headline-text--hidden {
	pointer-events: none;
	opacity: 0;
}

.js .trigger-headline--hidden span:nth-child(1) {
	-webkit-transform: translate3d(-150px,0,0);
	transform: translate3d(-100px,0,0);
}

.js .trigger-headline--hidden span:nth-child(2) {
	-webkit-transform: translate3d(-100px,0,0);
	transform: translate3d(-50px,0,0);
}

.js .trigger-headline--hidden span:nth-child(3) {
	-webkit-transform: translate3d(-50px,0,0);
	transform: translate3d(-25px,0,0);
}

.js .trigger-headline--hidden span:nth-child(4) {
	-webkit-transform: translate3d(-25px,0,0);
	transform: translate3d(25px,0,0);
}

.js .trigger-headline--hidden span:nth-child(5) {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(50px,0,0);
}

.js .trigger-headline--hidden span:nth-child(6) {
	-webkit-transform: translate3d(25px,0,0);
	transform: translate3d(100px,0,0);
}

.js .trigger-headline--hidden span:nth-child(7) {
	-webkit-transform: translate3d(50px,0,0);
	transform: translate3d(25px,0,0);
}

.js .trigger-headline--hidden span:nth-child(8) {
	-webkit-transform: translate3d(100px,0,0);
	transform: translate3d(50px,0,0);
}

.js .trigger-headline--hidden span:nth-child(9) {
	-webkit-transform: translate3d(150px,0,0);
	transform: translate3d(100px,0,0);
}

.footer{
	//position:absolute;
	//bottom:0;
	//background:#1a283b;
	border-top: 1px solid rgba(149, 165, 166, 0.21);
		width: 100%;
	.row{
		margin: 0;
	}
	.container{
		height: 100%;
	}
	 nav > ul {
	  list-style: none;
	  margin: 0;
	  padding: 0;
	  font-weight: normal;
	}
	 nav > ul a:not(.btn) {
	  color: #9a9a9a;
	  display: block;
	  margin-bottom: 3px;
	}
	 nav > ul a:not(.btn):hover, .footer nav > ul a:not(.btn):focus {
	  color: #777777;
	}
	 .social-area {
	  padding: 15px 0;
	}
	 .social-area h5 {
	  padding-bottom: 15px;
	}
	 .social-area > a:not(.btn) {
	  color: #9a9a9a;
	  display: inline-block;
	  vertical-align: top;
	  padding: 10px 5px;
	  font-size: 20px;
	  font-weight: normal;
	  line-height: 20px;
	  text-align: center;
	}
	 .social-area > a:not(.btn):hover, .footer .social-area > a:not(.btn):focus {
	  color: #777777;
	}
	 .copyright {
	  color: #777777;
	  padding: 10px 15px;
	  margin: 15px 3px;
	  line-height: 20px;
	  text-align: center;
	}
	 .title {
	  color: #777777;
	}

	&:not(.footer-big) nav > ul {
	  font-size: 16px;
	}
	&:not(.footer-big) nav > ul li {
	  margin-left: 20px;
	  float: left;
	}
	&:not(.footer-big) nav > ul a {
	  padding: 10px 0px;
	  margin: 15px 10px 15px 0px;
	}


}

#subscribe_form .inp{
	width: 66%;
    float: left;
    margin-right: 2rem;
}
