.main-section .content-wrapper::-webkit-scrollbar {
      background:transparent;
      width: 0.3125rem; 
    }
.main-section .content-wrapper::-webkit-scrollbar-thumb {
      background:rgba(256,256,256,0.2) !important; 
      border-radius: 3.125rem;
    }

.main-content-with-menu{
  padding-left: 14.5924vw;
}

.header-assistant{
  height: 5vw;
  h3{
  	line-height: 5vw;
  }
  a:not(:first-of-type){
  	margin-right: 1rem;
  }
  a{
  	margin-top: calc((5vw - 38px) / 2);
  }
}

.clients-list{
  font-size: 1rem;
  .table-striped {
    background-color: rgba(18, 27, 38, 0.57);
    &> tbody{ 
      &> tr{
        &:nth-of-type(odd){
          background-color:#121b26;
        }
        &>td, &>th{
          border-top: 1px solid rgb(23, 34, 50);
        }
      }
    }
  }
}


#test-circle, #test-circle-2, #test-circle-3{
  margin: 0 auto;
}

.left-navbar{
  .copyright{
    width: 100%;
    font-size: 1rem;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: #50b7b8;
  }
}

// .nav.acordion-menu > li > a:focus,
// .nav.acordion-menu > li > a:hover{
//   &:after{
//     border-color: #50b7b8;
//     background-color: #50b7b8;
//   }
//   &:before{
//     background-color: #50b7b8;
//   }

//}

.card-price {
  position: relative;
}
.card-price .price {
  font-weight: 300;
  text-align: center;
  font-size: 66px;
}
.card-price .price small {
  margin-right: 4px;
  margin-left: -13px;
  color: #333333;
}
.card-price .category {
  text-align: center;
  margin-top: 10px;
}
.card-price .content {
  min-height: 330px;
}
.card-price .list-unstyled {
  padding-top: 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}
.card-price .list-unstyled b {
  color: #333333;
}
.card-price .list-unstyled li {
  margin-bottom: 5px;
}
.card-price .list-lines {
  text-align: left;
}
.card-price .list-lines li {
  margin: 0;
  padding: 10px 0;
 
}
.card-price .list-lines li:last-child {
  border: 0;
}
.card-price .fa {
  width: 26px;
  text-align: center;
  font-size: 16px;
}

.wrapper{
  height: 100%;
}