/* -------------------------------- 

Golden Ratio

-------------------------------- */
/* -------------------------------- 

Responsive Breakpoints

-------------------------------- */
/* -------------------------------- 

Components

-------------------------------- */
@media (min-width: 1400px) {
  .block-size-1 {
    width: 100vw;
    height: 100vw; }

  .block-size-2 {
    width: 61.8vw;
    height: 61.8vw; }

  .block-size-3 {
    width: 38.2vw;
    height: 38.2vw; }

  .block-size-4 {
    width: 23.6076vw;
    height: 23.6076vw; }

  .block-size-5 {
    width: 14.5924vw;
    height: 14.5924vw; }

  .block-size-6 {
    width: 9.0181vw;
    height: 9.0181vw; }

  .block-size-7 {
    width: 5.5743vw;
    height: 5.5743vw; }

  .block-size-8 {
    width: 3.44492vw;
    height: 3.44492vw; }

  .block-size-9 {
    width: 2.12938vw;
    height: 2.12938vw; }

  .block-size-10 {
    width: 1.31596vw;
    height: 1.31596vw; }

  .block-size-11 {
    width: 0.81342vw;
    height: 0.81342vw; }

  .block-size-12 {
    width: 0.5027vw;
    height: 0.5027vw; }

  .block-size-13 {
    width: 0.31073vw;
    height: 0.31073vw; }

  .block-size-14 {
    width: 0.19203vw;
    height: 0.19203vw; }

  .block-width-1 {
    width: 100vw; }

  .block-width-2 {
    width: 61.8vw; }

  .block-width-3 {
    width: 38.2vw; }

  .block-width-4 {
    width: 23.6076vw; }

  .block-width-5 {
    width: 14.5924vw; }

  .block-width-6 {
    width: 9.0181vw; }

  .block-width-7 {
    width: 5.5743vw; }

  .block-width-8 {
    width: 3.44492vw; }

  .block-width-9 {
    width: 2.12938vw; }

  .block-width-10 {
    width: 1.31596vw; }

  .block-width-11 {
    width: 0.81342vw; }

  .block-width-12 {
    width: 0.5027vw; }

  .block-width-13 {
    width: 0.31073vw; }

  .block-width-14 {
    width: 0.19203vw; }

  .block-height-1 {
    height: 100vw; }

  .block-height-2 {
    height: 61.8vw; }

  .block-height-3 {
    height: 38.2vw; }

  .block-height-4 {
    height: 23.6076vw; }

  .block-height-5 {
    height: 14.5924vw; }

  .block-height-6 {
    height: 9.0181vw; }

  .block-height-7 {
    height: 5.5743vw; }

  .block-height-8 {
    height: 3.44492vw; }

  .block-height-9 {
    height: 2.12938vw; }

  .block-height-10 {
    height: 1.31596vw; }

  .block-height-11 {
    height: 0.81342vw; }

  .block-height-12 {
    height: 0.5027vw; }

  .block-height-13 {
    height: 0.31073vw; }

  .block-height-14 {
    height: 0.19203vw; } }
@media (min-width: 1024px) and (max-width: 1399px) {
  .block-size-5 {
    width: 23.6076vw;
    height: 23.6076vw; }

  .block-width-5 {
    width: 23.6076vw; }

  .block-height-5 {
    height: 23.6076vw; }

  .block-size-1 {
    width: 100vw;
    height: 100vw; }

  .block-size-2 {
    width: 61.8vw;
    height: 61.8vw; }

  .block-size-3 {
    width: 38.2vw;
    height: 38.2vw; }

  .block-size-4 {
    width: 23.6076vw;
    height: 23.6076vw; }

  .block-size-6 {
    width: 14.5924vw;
    height: 14.5924vw; }

  .block-size-7 {
    width: 9.0181vw;
    height: 9.0181vw; }

  .block-size-8 {
    width: 5.5743vw;
    height: 5.5743vw; }

  .block-size-9 {
    width: 3.44492vw;
    height: 3.44492vw; }

  .block-size-10 {
    width: 2.12938vw;
    height: 2.12938vw; }

  .block-size-11 {
    width: 1.31596vw;
    height: 1.31596vw; }

  .block-size-12 {
    width: 0.81342vw;
    height: 0.81342vw; }

  .block-size-13 {
    width: 0.5027vw;
    height: 0.5027vw; }

  .block-size-14 {
    width: 0.31073vw;
    height: 0.31073vw; }

  .block-size-15 {
    width: 0.19203vw;
    height: 0.19203vw; }

  .block-width-1 {
    width: 100vw; }

  .block-width-2 {
    width: 61.8vw; }

  .block-width-3 {
    width: 38.2vw; }

  .block-width-4 {
    width: 23.6076vw; }

  .block-width-6 {
    width: 14.5924vw; }

  .block-width-7 {
    width: 9.0181vw; }

  .block-width-8 {
    width: 5.5743vw; }

  .block-width-9 {
    width: 3.44492vw; }

  .block-width-10 {
    width: 2.12938vw; }

  .block-width-11 {
    width: 1.31596vw; }

  .block-width-12 {
    width: 0.81342vw; }

  .block-width-13 {
    width: 0.5027vw; }

  .block-width-14 {
    width: 0.31073vw; }

  .block-width-15 {
    width: 0.19203vw; }

  .block-height-1 {
    height: 100vw; }

  .block-height-2 {
    height: 61.8vw; }

  .block-height-3 {
    height: 38.2vw; }

  .block-height-4 {
    height: 23.6076vw; }

  .block-height-6 {
    height: 14.5924vw; }

  .block-height-7 {
    height: 9.0181vw; }

  .block-height-8 {
    height: 5.5743vw; }

  .block-height-9 {
    height: 3.44492vw; }

  .block-height-10 {
    height: 2.12938vw; }

  .block-height-11 {
    height: 1.31596vw; }

  .block-height-12 {
    height: 0.81342vw; }

  .block-height-13 {
    height: 0.5027vw; }

  .block-height-14 {
    height: 0.31073vw; }

  .block-height-15 {
    height: 0.19203vw; } }
@media (min-width: 640px) and (max-width: 1023px) {
  .block-size-3 {
    width: 100vw;
    height: 100vw; }

  .block-size-4 {
    width: 61.8vw;
    height: 61.8vw; }

  .block-size-5 {
    width: 38.2vw;
    height: 38.2vw; }

  .block-size-6 {
    width: 23.6076vw;
    height: 23.6076vw; }

  .block-size-7 {
    width: 14.5924vw;
    height: 14.5924vw; }

  .block-size-8 {
    width: 9.0181vw;
    height: 9.0181vw; }

  .block-size-9 {
    width: 5.5743vw;
    height: 5.5743vw; }

  .block-size-10 {
    width: 3.44492vw;
    height: 3.44492vw; }

  .block-size-11 {
    width: 2.12938vw;
    height: 2.12938vw; }

  .block-size-12 {
    width: 1.31596vw;
    height: 1.31596vw; }

  .block-size-13 {
    width: 0.81342vw;
    height: 0.81342vw; }

  .block-size-14 {
    width: 0.5027vw;
    height: 0.5027vw; }

  .block-size-15 {
    width: 0.31073vw;
    height: 0.31073vw; }

  .block-size-16 {
    width: 0.19203vw;
    height: 0.19203vw; }

  .block-width-3 {
    width: 100vw; }

  .block-width-4 {
    width: 61.8vw; }

  .block-width-5 {
    width: 38.2vw; }

  .block-width-6 {
    width: 23.6076vw; }

  .block-width-7 {
    width: 14.5924vw; }

  .block-width-8 {
    width: 9.0181vw; }

  .block-width-9 {
    width: 5.5743vw; }

  .block-width-10 {
    width: 3.44492vw; }

  .block-width-11 {
    width: 2.12938vw; }

  .block-width-12 {
    width: 1.31596vw; }

  .block-width-13 {
    width: 0.81342vw; }

  .block-width-14 {
    width: 0.5027vw; }

  .block-width-15 {
    width: 0.31073vw; }

  .block-width-16 {
    width: 0.19203vw; }

  .block-height-3 {
    height: 100vw; }

  .block-height-4 {
    height: 61.8vw; }

  .block-height-5 {
    height: 38.2vw; }

  .block-height-6 {
    height: 23.6076vw; }

  .block-height-7 {
    height: 14.5924vw; }

  .block-height-8 {
    height: 9.0181vw; }

  .block-height-9 {
    height: 5.5743vw; }

  .block-height-10 {
    height: 3.44492vw; }

  .block-height-11 {
    height: 2.12938vw; }

  .block-height-12 {
    height: 1.31596vw; }

  .block-height-13 {
    height: 0.81342vw; }

  .block-height-14 {
    height: 0.5027vw; }

  .block-height-15 {
    height: 0.31073vw; }

  .block-height-16 {
    height: 0.19203vw; } }
@media (max-width: 639px) {
  .block-size-4 {
    width: 100vw;
    height: 100vw; }

  .block-size-5 {
    width: 61.8vw;
    height: 61.8vw; }

  .block-size-6 {
    width: 38.2vw;
    height: 38.2vw; }

  .block-size-7 {
    width: 23.6076vw;
    height: 23.6076vw; }

  .block-size-8 {
    width: 14.5924vw;
    height: 14.5924vw; }

  .block-size-9 {
    width: 9.0181vw;
    height: 9.0181vw; }

  .block-size-10 {
    width: 5.5743vw;
    height: 5.5743vw; }

  .block-size-11 {
    width: 3.44492vw;
    height: 3.44492vw; }

  .block-size-12 {
    width: 2.12938vw;
    height: 2.12938vw; }

  .block-size-13 {
    width: 1.31596vw;
    height: 1.31596vw; }

  .block-size-14 {
    width: 0.81342vw;
    height: 0.81342vw; }

  .block-size-15 {
    width: 0.5027vw;
    height: 0.5027vw; }

  .block-size-16 {
    width: 0.31073vw;
    height: 0.31073vw; }

  .block-size-17 {
    width: 0.19203vw;
    height: 0.19203vw; }

  .block-width-4 {
    width: 100vw; }

  .block-width-5 {
    width: 61.8vw; }

  .block-width-6 {
    width: 38.2vw; }

  .block-width-7 {
    width: 23.6076vw; }

  .block-width-8 {
    width: 14.5924vw; }

  .block-width-9 {
    width: 9.0181vw; }

  .block-width-10 {
    width: 5.5743vw; }

  .block-width-11 {
    width: 3.44492vw; }

  .block-width-12 {
    width: 2.12938vw; }

  .block-width-13 {
    width: 1.31596vw; }

  .block-width-14 {
    width: 0.81342vw; }

  .block-width-15 {
    width: 0.5027vw; }

  .block-width-16 {
    width: 0.31073vw; }

  .block-width-17 {
    width: 0.19203vw; }

  .block-height-4 {
    height: 100vw; }

  .block-height-5 {
    height: 61.8vw; }

  .block-height-6 {
    height: 38.2vw; }

  .block-height-7 {
    height: 23.6076vw; }

  .block-height-8 {
    height: 14.5924vw; }

  .block-height-9 {
    height: 9.0181vw; }

  .block-height-10 {
    height: 5.5743vw; }

  .block-height-11 {
    height: 3.44492vw; }

  .block-height-12 {
    height: 2.12938vw; }

  .block-height-13 {
    height: 1.31596vw; }

  .block-height-14 {
    height: 0.81342vw; }

  .block-height-15 {
    height: 0.5027vw; }

  .block-height-16 {
    height: 0.31073vw; }

  .block-height-17 {
    height: 0.19203vw; } }
#fibo_container {
  position: absolute;
  bottom: -200px;
  width: 100%;
  z-index: 10000;
  transform: rotateX(180deg);
  display: none; }

.show-fibo #fibo_container {
  display: block; }

#fibo_container > div {
  width: 100%;
  height: calc(100vw / 1.618033988749894848204586834); }

.cycle,
.cycle > div > div {
  height: 38.2%;
  width: 100%; }

.cycle > div,
.cycle > div > div > div {
  width: 38.2%;
  height: 100%; }

#fibo_container div {
  background-color: rgba(255, 0, 0, 0.1); }

.cycle {
  position: absolute;
  top: 0; }

.cycle > div {
  position: absolute;
  right: 0; }

.cycle > div > div {
  position: absolute;
  bottom: 0; }

.cycle > div > div > div {
  position: absolute;
  left: 0; }

.cycle {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-top-left-radius: 10000px;
  -moz-border-radius-topleft: 10000px;
  border-top-left-radius: 11960px; }

.cycle > div {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-top-right-radius: 10000px;
  -moz-border-radius-topright: 10000px;
  border-top-right-radius: 10000px; }

.cycle > div > div {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-bottom-right-radius: 10000px;
  -moz-border-radius-bottomright: 10000px;
  border-bottom-right-radius: 10000px; }

.cycle > div > div > div {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-bottom-left-radius: 10000px;
  -moz-border-radius-bottomleft: 10000px;
  border-bottom-left-radius: 10000px; }

.gt-320.lt-640 .show-menu .main-section, .w-320 .show-menu .main-section {
  -moz-transform: translate3d(61.8vw, 14.5924vw, 0);
  -o-transform: translate3d(61.8vw, 14.5924vw, 0);
  -ms-transform: translate3d(61.8vw, 14.5924vw, 0);
  -webkit-transform: translate3d(61.8vw, 14.5924vw, 0);
  transform: translate3d(61.8vw, 14.5924vw, 0); }
.gt-320.lt-640 .main-section .content-wrapper, .w-320 .main-section .content-wrapper {
  padding-top: 14.5924vw; }
.gt-320.lt-640 .main-section .content-wrapper .main-container, .w-320 .main-section .content-wrapper .main-container {
  padding-left: 14.5924vw; }
.gt-320.lt-640 .navbar .navbar-brand, .w-320 .navbar .navbar-brand {
  line-height: 14.5924vw; }
.gt-320.lt-640 .left-navbar, .w-320 .left-navbar {
  height: calc(100vh - 14.5924vw); }
.gt-320.lt-640 .left-navbar li, .w-320 .left-navbar li {
  font-size: 6.79vw; }
.gt-320.lt-640 .main-section .content-wrapper .side-container, .w-320 .main-section .content-wrapper .side-container {
  height: calc(100vh - 14.5924vw); }
.gt-320.lt-640 .main-section .side-container .step-container .current-step-container, .w-320 .main-section .side-container .step-container .current-step-container {
  display: none; }

.gt-640.lt-1024 .show-menu .main-section, .w-640 .show-menu .main-section {
  -moz-transform: translate3d(38.2vw, 9.0181vw, 0);
  -o-transform: translate3d(38.2vw, 9.0181vw, 0);
  -ms-transform: translate3d(38.2vw, 9.0181vw, 0);
  -webkit-transform: translate3d(38.2vw, 9.0181vw, 0);
  transform: translate3d(38.2vw, 9.0181vw, 0); }
.gt-640.lt-1024 .main-section .content-wrapper, .w-640 .main-section .content-wrapper {
  padding-top: 9.0181vw; }
.gt-640.lt-1024 .main-section .content-wrapper .main-container, .w-640 .main-section .content-wrapper .main-container {
  padding-left: 9.0181vw; }
.gt-640.lt-1024 .navbar .navbar-brand, .w-640 .navbar .navbar-brand {
  line-height: 9.0181vw; }
.gt-640.lt-1024 .navbar .navbar-nav > li > a, .w-640 .navbar .navbar-nav > li > a {
  line-height: 9.0181vw; }
.gt-640.lt-1024 .left-navbar, .w-640 .left-navbar {
  height: calc(100vh - 9.0181vw); }
.gt-640.lt-1024 .left-navbar li, .w-640 .left-navbar li {
  font-size: 4vw; }
.gt-640.lt-1024 .main-section .content-wrapper .side-container, .w-640 .main-section .content-wrapper .side-container {
  height: calc(100vh - 9.0181vw); }
.gt-640.lt-1024 .main-section .side-container .step-container .current-step-container, .w-640 .main-section .side-container .step-container .current-step-container {
  display: none; }

.gt-1024.lt-1400 .show-menu .main-section, .w-1024 .show-menu .main-section {
  -moz-transform: translate3d(23.6076vw, 5.5743vw, 0);
  -o-transform: translate3d(23.6076vw, 5.5743vw, 0);
  -ms-transform: translate3d(23.6076vw, 5.5743vw, 0);
  -webkit-transform: translate3d(23.6076vw, 5.5743vw, 0);
  transform: translate3d(23.6076vw, 5.5743vw, 0); }
.gt-1024.lt-1400 .main-section .content-wrapper, .w-1024 .main-section .content-wrapper {
  padding-top: 5.5743vw; }
.gt-1024.lt-1400 .main-section .content-wrapper .main-container, .w-1024 .main-section .content-wrapper .main-container {
  padding-left: 5.5743vw; }
.gt-1024.lt-1400 .navbar .navbar-brand, .w-1024 .navbar .navbar-brand {
  line-height: 5.5743vw; }
.gt-1024.lt-1400 .navbar .navbar-nav > li > a, .w-1024 .navbar .navbar-nav > li > a {
  line-height: 5.5743vw; }
.gt-1024.lt-1400 .left-navbar, .w-1024 .left-navbar {
  height: calc(100vh - 5.5743vw); }
.gt-1024.lt-1400 .left-navbar li, .w-1024 .left-navbar li {
  font-size: 3vw; }
.gt-1024.lt-1400 .main-section .content-wrapper .side-container, .w-1024 .main-section .content-wrapper .side-container {
  height: calc(100vh - 5.5743vw); }
.gt-1024.lt-1400 .main-section .content-wrapper .main-container.home-container, .w-1024 .main-section .content-wrapper .main-container.home-container {
  padding-right: 23.6076vw; }

/*# sourceMappingURL=fibo.css.map */
