<!DOCTYPE html>
<html>
<head>
  <title>Assistant</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    "pe-icon-7-stroke", media: "all" %>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet" type="text/css">
  
  <%= javascript_include_tag "application" %>
  
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
  
  <%= csrf_meta_tags %>
</head>
<body class="ebs-solid-theme">
    
    <%= yield %>
</body>
</html>
